minifi-toolkit/minifi-toolkit-configuration/src/test/resources/NestedControllerServices.xml
<?xml version="1.0" ?>
<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at
   http://www.apache.org/licenses/LICENSE-2.0
Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<template encoding-version="1.0">
  <description></description>
  <groupId>d193767e-0158-1000-9f0b-960406019246</groupId>
  <name>NestedControllerServices</name>
  <snippet>
    <connections>
      <id>d5234d12-0158-1000-0000-000000000000</id>
      <parentGroupId>d193767e-0158-1000-0000-000000000000</parentGroupId>
      <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
      <backPressureObjectThreshold>10000</backPressureObjectThreshold>
      <destination>
        <groupId>d193767e-0158-1000-0000-000000000000</groupId>
        <id>d5233667-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </destination>
      <flowFileExpiration>0 sec</flowFileExpiration>
      <labelIndex>1</labelIndex>
      <name></name>
      <selectedRelationships>success</selectedRelationships>
      <source>
        <groupId>d193767e-0158-1000-0000-000000000000</groupId>
        <id>d5232ad7-0158-1000-0000-000000000000</id>
        <type>PROCESSOR</type>
      </source>
      <zIndex>0</zIndex>
    </connections>
    <controllerServices>
      <id>d4c47b18-0158-1000-0000-000000000000</id>
      <parentGroupId>d193767e-0158-1000-0000-000000000000</parentGroupId>
      <comments></comments>
      <descriptors>
        <entry>
          <key>Keystore Filename</key>
          <value>
            <name>Keystore Filename</name>
          </value>
        </entry>
        <entry>
          <key>Keystore Password</key>
          <value>
            <name>Keystore Password</name>
          </value>
        </entry>
        <entry>
          <key>key-password</key>
          <value>
            <name>key-password</name>
          </value>
        </entry>
        <entry>
          <key>Keystore Type</key>
          <value>
            <name>Keystore Type</name>
          </value>
        </entry>
        <entry>
          <key>Truststore Filename</key>
          <value>
            <name>Truststore Filename</name>
          </value>
        </entry>
        <entry>
          <key>Truststore Password</key>
          <value>
            <name>Truststore Password</name>
          </value>
        </entry>
        <entry>
          <key>Truststore Type</key>
          <value>
            <name>Truststore Type</name>
          </value>
        </entry>
        <entry>
          <key>SSL Protocol</key>
          <value>
            <name>SSL Protocol</name>
          </value>
        </entry>
      </descriptors>
      <name>test-root</name>
      <properties>
        <entry>
          <key>Keystore Filename</key>
        </entry>
        <entry>
          <key>Keystore Password</key>
        </entry>
        <entry>
          <key>key-password</key>
        </entry>
        <entry>
          <key>Keystore Type</key>
        </entry>
        <entry>
          <key>Truststore Filename</key>
        </entry>
        <entry>
          <key>Truststore Password</key>
        </entry>
        <entry>
          <key>Truststore Type</key>
        </entry>
        <entry>
          <key>SSL Protocol</key>
        </entry>
      </properties>
      <state>DISABLED</state>
      <type>org.apache.nifi.ssl.StandardSSLContextService</type>
    </controllerServices>
    <processGroups>
      <id>d4c4b4e4-0158-1000-0000-000000000000</id>
      <parentGroupId>d193767e-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>602.334350907364</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>d522e203-0158-1000-0000-000000000000</id>
          <parentGroupId>d4c4b4e4-0158-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>d4c4b4e4-0158-1000-0000-000000000000</groupId>
            <id>d522d82b-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>d4c4b4e4-0158-1000-0000-000000000000</groupId>
            <id>d520168b-0158-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <controllerServices>
          <id>d4c4c947-0158-1000-0000-000000000000</id>
          <parentGroupId>d4c4b4e4-0158-1000-0000-000000000000</parentGroupId>
          <comments></comments>
          <descriptors>
            <entry>
              <key>Maximum Outstanding Requests</key>
              <value>
                <name>Maximum Outstanding Requests</name>
              </value>
            </entry>
            <entry>
              <key>Request Expiration</key>
              <value>
                <name>Request Expiration</name>
              </value>
            </entry>
          </descriptors>
          <name>test-middle</name>
          <properties>
            <entry>
              <key>Maximum Outstanding Requests</key>
            </entry>
            <entry>
              <key>Request Expiration</key>
            </entry>
          </properties>
          <state>DISABLED</state>
          <type>org.apache.nifi.http.StandardHttpContextMap</type>
        </controllerServices>
        <processGroups>
          <id>d4c52c16-0158-1000-0000-000000000000</id>
          <parentGroupId>d4c4b4e4-0158-1000-0000-000000000000</parentGroupId>
          <position>
            <x>444.00000013523464</x>
            <y>139.99998313812395</y>
          </position>
          <comments></comments>
          <contents>
            <connections>
              <id>d52147e4-0158-1000-0000-000000000000</id>
              <parentGroupId>d4c52c16-0158-1000-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>d4c52c16-0158-1000-0000-000000000000</groupId>
                <id>d5205c43-0158-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>success</selectedRelationships>
              <source>
                <groupId>d4c52c16-0158-1000-0000-000000000000</groupId>
                <id>d5211ba3-0158-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <connections>
              <id>d521c3e8-0158-1000-0000-000000000000</id>
              <parentGroupId>d4c52c16-0158-1000-0000-000000000000</parentGroupId>
              <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
              <backPressureObjectThreshold>10000</backPressureObjectThreshold>
              <destination>
                <groupId>d4c52c16-0158-1000-0000-000000000000</groupId>
                <id>d521ab50-0158-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </destination>
              <flowFileExpiration>0 sec</flowFileExpiration>
              <labelIndex>1</labelIndex>
              <name></name>
              <selectedRelationships>duplicate</selectedRelationships>
              <selectedRelationships>failure</selectedRelationships>
              <selectedRelationships>non-duplicate</selectedRelationships>
              <source>
                <groupId>d4c52c16-0158-1000-0000-000000000000</groupId>
                <id>d5205c43-0158-1000-0000-000000000000</id>
                <type>PROCESSOR</type>
              </source>
              <zIndex>0</zIndex>
            </connections>
            <controllerServices>
              <id>d4c5554d-0158-1000-0000-000000000000</id>
              <parentGroupId>d4c52c16-0158-1000-0000-000000000000</parentGroupId>
              <comments></comments>
              <descriptors>
                <entry>
                  <key>Server Hostname</key>
                  <value>
                    <name>Server Hostname</name>
                  </value>
                </entry>
                <entry>
                  <key>Server Port</key>
                  <value>
                    <name>Server Port</name>
                  </value>
                </entry>
                <entry>
                  <key>SSL Context Service</key>
                  <value>
                    <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                    <name>SSL Context Service</name>
                  </value>
                </entry>
                <entry>
                  <key>Communications Timeout</key>
                  <value>
                    <name>Communications Timeout</name>
                  </value>
                </entry>
              </descriptors>
              <name>test-inner</name>
              <properties>
                <entry>
                  <key>Server Hostname</key>
                  <value>localhost</value>
                </entry>
                <entry>
                  <key>Server Port</key>
                </entry>
                <entry>
                  <key>SSL Context Service</key>
                  <value>d4c47b18-0158-1000-0000-000000000000</value>
                </entry>
                <entry>
                  <key>Communications Timeout</key>
                </entry>
              </properties>
              <state>DISABLED</state>
              <type>org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService</type>
            </controllerServices>
            <processors>
              <id>d5205c43-0158-1000-0000-000000000000</id>
              <parentGroupId>d4c52c16-0158-1000-0000-000000000000</parentGroupId>
              <position>
                <x>654.0000001352346</x>
                <y>379.99999839691304</y>
              </position>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Cache Entry Identifier</key>
                    <value>
                      <name>Cache Entry Identifier</name>
                    </value>
                  </entry>
                  <entry>
                    <key>FlowFile Description</key>
                    <value>
                      <name>FlowFile Description</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Age Off Duration</key>
                    <value>
                      <name>Age Off Duration</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Distributed Cache Service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.distributed.cache.client.DistributedMapCacheClient</identifiesControllerService>
                      <name>Distributed Cache Service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Cache The Entry Identifier</key>
                    <value>
                      <name>Cache The Entry Identifier</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Cache Entry Identifier</key>
                    <value>${hash.value}</value>
                  </entry>
                  <entry>
                    <key>FlowFile Description</key>
                    <value>test</value>
                  </entry>
                  <entry>
                    <key>Age Off Duration</key>
                  </entry>
                  <entry>
                    <key>Distributed Cache Service</key>
                    <value>d4c5554d-0158-1000-0000-000000000000</value>
                  </entry>
                  <entry>
                    <key>Cache The Entry Identifier</key>
                    <value>true</value>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>DetectDuplicate</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>duplicate</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
              </relationships>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>non-duplicate</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.DetectDuplicate</type>
            </processors>
            <processors>
              <id>d5211ba3-0158-1000-0000-000000000000</id>
              <parentGroupId>d4c52c16-0158-1000-0000-000000000000</parentGroupId>
              <position>
                <x>669.0000001352346</x>
                <y>154.999998396913</y>
              </position>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>URL</key>
                    <value>
                      <name>URL</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Filename</key>
                    <value>
                      <name>Filename</name>
                    </value>
                  </entry>
                  <entry>
                    <key>SSL Context Service</key>
                    <value>
                      <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                      <name>SSL Context Service</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Username</key>
                    <value>
                      <name>Username</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Password</key>
                    <value>
                      <name>Password</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Connection Timeout</key>
                    <value>
                      <name>Connection Timeout</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Data Timeout</key>
                    <value>
                      <name>Data Timeout</name>
                    </value>
                  </entry>
                  <entry>
                    <key>User Agent</key>
                    <value>
                      <name>User Agent</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Accept Content-Type</key>
                    <value>
                      <name>Accept Content-Type</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Follow Redirects</key>
                    <value>
                      <name>Follow Redirects</name>
                    </value>
                  </entry>
                  <entry>
                    <key>redirect-cookie-policy</key>
                    <value>
                      <name>redirect-cookie-policy</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Proxy Host</key>
                    <value>
                      <name>Proxy Host</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Proxy Port</key>
                    <value>
                      <name>Proxy Port</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>URL</key>
                    <value>https://localhost:8080/</value>
                  </entry>
                  <entry>
                    <key>Filename</key>
                    <value>getLocalhost</value>
                  </entry>
                  <entry>
                    <key>SSL Context Service</key>
                  </entry>
                  <entry>
                    <key>Username</key>
                  </entry>
                  <entry>
                    <key>Password</key>
                  </entry>
                  <entry>
                    <key>Connection Timeout</key>
                    <value>30 sec</value>
                  </entry>
                  <entry>
                    <key>Data Timeout</key>
                    <value>30 sec</value>
                  </entry>
                  <entry>
                    <key>User Agent</key>
                  </entry>
                  <entry>
                    <key>Accept Content-Type</key>
                  </entry>
                  <entry>
                    <key>Follow Redirects</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>redirect-cookie-policy</key>
                    <value>default</value>
                  </entry>
                  <entry>
                    <key>Proxy Host</key>
                  </entry>
                  <entry>
                    <key>Proxy Port</key>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>GetHTTP</name>
              <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.GetHTTP</type>
            </processors>
            <processors>
              <id>d521ab50-0158-1000-0000-000000000000</id>
              <parentGroupId>d4c52c16-0158-1000-0000-000000000000</parentGroupId>
              <position>
                <x>635.0000001352346</x>
                <y>631.999998396913</y>
              </position>
              <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                  <entry>
                    <key>Log Level</key>
                    <value>
                      <name>Log Level</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Log Payload</key>
                    <value>
                      <name>Log Payload</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Attributes to Log</key>
                    <value>
                      <name>Attributes to Log</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Attributes to Ignore</key>
                    <value>
                      <name>Attributes to Ignore</name>
                    </value>
                  </entry>
                  <entry>
                    <key>Log prefix</key>
                    <value>
                      <name>Log prefix</name>
                    </value>
                  </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                  <entry>
                    <key>Log Level</key>
                    <value>info</value>
                  </entry>
                  <entry>
                    <key>Log Payload</key>
                    <value>false</value>
                  </entry>
                  <entry>
                    <key>Attributes to Log</key>
                  </entry>
                  <entry>
                    <key>Attributes to Ignore</key>
                  </entry>
                  <entry>
                    <key>Log prefix</key>
                  </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
              </config>
              <name>LogAttribute</name>
              <relationships>
                <autoTerminate>true</autoTerminate>
                <name>success</name>
              </relationships>
              <style></style>
              <type>org.apache.nifi.processors.standard.LogAttribute</type>
            </processors>
          </contents>
          <name>inner</name>
        </processGroups>
        <processors>
          <id>d520168b-0158-1000-0000-000000000000</id>
          <parentGroupId>d4c4b4e4-0158-1000-0000-000000000000</parentGroupId>
          <position>
            <x>-60.99999986476536</x>
            <y>54.99998313812398</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Listening Port</key>
                <value>
                  <name>Listening Port</name>
                </value>
              </entry>
              <entry>
                <key>Hostname</key>
                <value>
                  <name>Hostname</name>
                </value>
              </entry>
              <entry>
                <key>SSL Context Service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>SSL Context Service</name>
                </value>
              </entry>
              <entry>
                <key>HTTP Context Map</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
                  <name>HTTP Context Map</name>
                </value>
              </entry>
              <entry>
                <key>Allowed Paths</key>
                <value>
                  <name>Allowed Paths</name>
                </value>
              </entry>
              <entry>
                <key>Default URL Character Set</key>
                <value>
                  <name>Default URL Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Allow GET</key>
                <value>
                  <name>Allow GET</name>
                </value>
              </entry>
              <entry>
                <key>Allow POST</key>
                <value>
                  <name>Allow POST</name>
                </value>
              </entry>
              <entry>
                <key>Allow PUT</key>
                <value>
                  <name>Allow PUT</name>
                </value>
              </entry>
              <entry>
                <key>Allow DELETE</key>
                <value>
                  <name>Allow DELETE</name>
                </value>
              </entry>
              <entry>
                <key>Allow HEAD</key>
                <value>
                  <name>Allow HEAD</name>
                </value>
              </entry>
              <entry>
                <key>Allow OPTIONS</key>
                <value>
                  <name>Allow OPTIONS</name>
                </value>
              </entry>
              <entry>
                <key>Additional HTTP Methods</key>
                <value>
                  <name>Additional HTTP Methods</name>
                </value>
              </entry>
              <entry>
                <key>Client Authentication</key>
                <value>
                  <name>Client Authentication</name>
                </value>
              </entry>
              <entry>
                <key>container-queue-size</key>
                <value>
                  <name>container-queue-size</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Listening Port</key>
                <value>80</value>
              </entry>
              <entry>
                <key>Hostname</key>
              </entry>
              <entry>
                <key>SSL Context Service</key>
              </entry>
              <entry>
                <key>HTTP Context Map</key>
                <value>d4c4c947-0158-1000-0000-000000000000</value>
              </entry>
              <entry>
                <key>Allowed Paths</key>
              </entry>
              <entry>
                <key>Default URL Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Allow GET</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Allow POST</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Allow PUT</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Allow DELETE</key>
                <value>true</value>
              </entry>
              <entry>
                <key>Allow HEAD</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Allow OPTIONS</key>
                <value>false</value>
              </entry>
              <entry>
                <key>Additional HTTP Methods</key>
              </entry>
              <entry>
                <key>Client Authentication</key>
                <value>No Authentication</value>
              </entry>
              <entry>
                <key>container-queue-size</key>
                <value>50</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>HandleHttpRequest</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.HandleHttpRequest</type>
        </processors>
        <processors>
          <id>d522d82b-0158-1000-0000-000000000000</id>
          <parentGroupId>d4c4b4e4-0158-1000-0000-000000000000</parentGroupId>
          <position>
            <x>-57.99999986476536</x>
            <y>290.999983138124</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>HTTP Status Code</key>
                <value>
                  <name>HTTP Status Code</name>
                </value>
              </entry>
              <entry>
                <key>HTTP Context Map</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.http.HttpContextMap</identifiesControllerService>
                  <name>HTTP Context Map</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>HTTP Status Code</key>
                <value>200</value>
              </entry>
              <entry>
                <key>HTTP Context Map</key>
                <value>d4c4c947-0158-1000-0000-000000000000</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>HandleHttpResponse</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.HandleHttpResponse</type>
        </processors>
      </contents>
      <name>middle</name>
    </processGroups>
    <processors>
      <id>d5232ad7-0158-1000-0000-000000000000</id>
      <parentGroupId>d193767e-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>9.5862223843003</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>URL</key>
            <value>
              <name>URL</name>
            </value>
          </entry>
          <entry>
            <key>Filename</key>
            <value>
              <name>Filename</name>
            </value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>
              <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
              <name>SSL Context Service</name>
            </value>
          </entry>
          <entry>
            <key>Username</key>
            <value>
              <name>Username</name>
            </value>
          </entry>
          <entry>
            <key>Password</key>
            <value>
              <name>Password</name>
            </value>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>
              <name>Connection Timeout</name>
            </value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>
              <name>Data Timeout</name>
            </value>
          </entry>
          <entry>
            <key>User Agent</key>
            <value>
              <name>User Agent</name>
            </value>
          </entry>
          <entry>
            <key>Accept Content-Type</key>
            <value>
              <name>Accept Content-Type</name>
            </value>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>
              <name>Follow Redirects</name>
            </value>
          </entry>
          <entry>
            <key>redirect-cookie-policy</key>
            <value>
              <name>redirect-cookie-policy</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Host</key>
            <value>
              <name>Proxy Host</name>
            </value>
          </entry>
          <entry>
            <key>Proxy Port</key>
            <value>
              <name>Proxy Port</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>URL</key>
            <value>https://localhost:8080/nifi</value>
          </entry>
          <entry>
            <key>Filename</key>
            <value>nifiCorrectGet</value>
          </entry>
          <entry>
            <key>SSL Context Service</key>
            <value>d4c47b18-0158-1000-0000-000000000000</value>
          </entry>
          <entry>
            <key>Username</key>
          </entry>
          <entry>
            <key>Password</key>
          </entry>
          <entry>
            <key>Connection Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>Data Timeout</key>
            <value>30 sec</value>
          </entry>
          <entry>
            <key>User Agent</key>
          </entry>
          <entry>
            <key>Accept Content-Type</key>
          </entry>
          <entry>
            <key>Follow Redirects</key>
            <value>false</value>
          </entry>
          <entry>
            <key>redirect-cookie-policy</key>
            <value>default</value>
          </entry>
          <entry>
            <key>Proxy Host</key>
          </entry>
          <entry>
            <key>Proxy Port</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>GetHTTP</name>
      <relationships>
        <autoTerminate>false</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.GetHTTP</type>
    </processors>
    <processors>
      <id>d5233667-0158-1000-0000-000000000000</id>
      <parentGroupId>d193767e-0158-1000-0000-000000000000</parentGroupId>
      <position>
        <x>3.1954241180271765</x>
        <y>238.0578704887564</y>
      </position>
      <config>
        <bulletinLevel>WARN</bulletinLevel>
        <comments></comments>
        <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
        <descriptors>
          <entry>
            <key>Log Level</key>
            <value>
              <name>Log Level</name>
            </value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>
              <name>Log Payload</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
            <value>
              <name>Attributes to Log</name>
            </value>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
            <value>
              <name>Attributes to Ignore</name>
            </value>
          </entry>
          <entry>
            <key>Log prefix</key>
            <value>
              <name>Log prefix</name>
            </value>
          </entry>
        </descriptors>
        <executionNode>ALL</executionNode>
        <lossTolerant>false</lossTolerant>
        <penaltyDuration>30 sec</penaltyDuration>
        <properties>
          <entry>
            <key>Log Level</key>
            <value>info</value>
          </entry>
          <entry>
            <key>Log Payload</key>
            <value>false</value>
          </entry>
          <entry>
            <key>Attributes to Log</key>
          </entry>
          <entry>
            <key>Attributes to Ignore</key>
          </entry>
          <entry>
            <key>Log prefix</key>
          </entry>
        </properties>
        <runDurationMillis>0</runDurationMillis>
        <schedulingPeriod>0 sec</schedulingPeriod>
        <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
        <yieldDuration>1 sec</yieldDuration>
      </config>
      <name>LogAttribute</name>
      <relationships>
        <autoTerminate>true</autoTerminate>
        <name>success</name>
      </relationships>
      <style></style>
      <type>org.apache.nifi.processors.standard.LogAttribute</type>
    </processors>
  </snippet>
  <timestamp>12/06/2016 12:17:35 EST</timestamp>
</template>