nifi-docs/src/main/asciidoc/misc/WebCrawler.json
{"flowContents":{"identifier":"44ec417b-66bb-3838-876e-76e8837adc72","instanceIdentifier":"9cc3dcfd-0183-1000-7652-13985b3bc020","name":"NiFi Flow","comments":"","position":{"x":0.0,"y":0.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"e801b130-2a49-3747-bfbc-ffadfa2799d3","instanceIdentifier":"5bde22b2-d51a-4cd9-3f95-59c2cc25046a","name":"CompressContent","comments":"","position":{"x":1348.7002802721574,"y":1960.4285734520379},"type":"org.apache.nifi.processors.standard.CompressContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Compression Format":"gzip","Mode":"compress","Compression Level":"9","Update Filename":"true"},"propertyDescriptors":{"Compression Format":{"name":"Compression Format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Mode":{"name":"Mode","displayName":"Mode","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Update Filename":{"name":"Update Filename","displayName":"Update Filename","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"08970b8f-dcfd-3582-bf17-0f9734dedf83","instanceIdentifier":"6aecb94d-e891-4790-e0cd-393c758fb8fe","name":"SplitText","comments":"","position":{"x":2953.372421928776,"y":1382.7361443789428},"type":"org.apache.nifi.processors.standard.SplitText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Remove Trailing Newlines":"true","Maximum Fragment Size":null,"Header Line Marker Characters":null,"Header Line Count":"0","Line Split Count":"1"},"propertyDescriptors":{"Remove Trailing Newlines":{"name":"Remove Trailing Newlines","displayName":"Remove Trailing Newlines","identifiesControllerService":false,"sensitive":false},"Maximum Fragment Size":{"name":"Maximum Fragment Size","displayName":"Maximum Fragment Size","identifiesControllerService":false,"sensitive":false},"Header Line Marker Characters":{"name":"Header Line Marker Characters","displayName":"Header Line Marker Characters","identifiesControllerService":false,"sensitive":false},"Header Line Count":{"name":"Header Line Count","displayName":"Header Line Count","identifiesControllerService":false,"sensitive":false},"Line Split Count":{"name":"Line Split Count","displayName":"Line Split Count","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"c87b5c3d-10e2-359f-97ea-7767c1dbdb1e","instanceIdentifier":"a2c1b384-f051-4252-abf1-5973c6226eea","name":"InvokeHTTP","comments":"","position":{"x":2941.9799737002036,"y":585.0460497217593},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"${url}","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":"8ac056d6-a3f7-3f63-924c-622aea4cdc3a","Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":10,"autoTerminatedRelationships":["No Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"c4ceaf27-cdcd-3313-b114-81c1302709b9","instanceIdentifier":"f584e1b2-31d3-45eb-443b-ea8a096b28cb","name":"MergeContent","comments":"","position":{"x":1344.5419163665797,"y":1370.9955662274767},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"1000","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Filename","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":null,"Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"100"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["TEXT","FILE"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"6d3052f7-9a1e-37f5-86ff-7fe0927ca8a4","instanceIdentifier":"3fc18f48-018a-1000-7e90-13ace9e924eb","name":"Get from seed URL","comments":"","position":{"x":576.0,"y":1096.0},"type":"org.apache.nifi.processors.standard.InvokeHTTP","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Proxy Host":null,"Attributes to Send":null,"use-etag":"false","proxy-configuration-service":null,"Proxy Type":"http","cookie-strategy":"DISABLED","Connection Timeout":"5 secs","send-message-body":"true","set-form-filename":"true","Always Output Response":"false","etag-max-cache-size":"10MB","Content-Encoding":"DISABLED","disable-http2":"False","idle-timeout":"5 mins","Put Response Body In Attribute":null,"Use Chunked Encoding":"false","Follow Redirects":"True","Remote URL":"http://www.apache.org/","form-body-form-name":null,"Content-Type":"${mime.type}","flow-file-naming-strategy":"RANDOM","max-idle-connections":"5","invokehttp-proxy-user":null,"Read Timeout":"15 secs","Max Length To Put In Attribute":"256","ignore-response-content":"false","Proxy Port":null,"SSL Context Service":null,"Digest Authentication":"false","HTTP Method":"GET","Add Response Headers to Request":"false","oauth2-access-token-provider":null,"Basic Authentication Username":null,"Include Date Header":"True","Penalize on \"No Retry\"":"false","Useragent":null},"propertyDescriptors":{"Proxy Host":{"name":"Proxy Host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"Attributes to Send":{"name":"Attributes to Send","displayName":"Request Header Attributes Pattern","identifiesControllerService":false,"sensitive":false},"use-etag":{"name":"use-etag","displayName":"Response Cache Enabled","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"Proxy Type":{"name":"Proxy Type","displayName":"Proxy Type","identifiesControllerService":false,"sensitive":false},"Basic Authentication Password":{"name":"Basic Authentication Password","displayName":"Request Password","identifiesControllerService":false,"sensitive":true},"cookie-strategy":{"name":"cookie-strategy","displayName":"Response Cookie Strategy","identifiesControllerService":false,"sensitive":false},"Connection Timeout":{"name":"Connection Timeout","displayName":"Socket Connect Timeout","identifiesControllerService":false,"sensitive":false},"send-message-body":{"name":"send-message-body","displayName":"Request Body Enabled","identifiesControllerService":false,"sensitive":false},"set-form-filename":{"name":"set-form-filename","displayName":"Request Multipart Form-Data Filename Enabled","identifiesControllerService":false,"sensitive":false},"Always Output Response":{"name":"Always Output Response","displayName":"Response Generation Required","identifiesControllerService":false,"sensitive":false},"etag-max-cache-size":{"name":"etag-max-cache-size","displayName":"Response Cache Size","identifiesControllerService":false,"sensitive":false},"Content-Encoding":{"name":"Content-Encoding","displayName":"Request Content-Encoding","identifiesControllerService":false,"sensitive":false},"disable-http2":{"name":"disable-http2","displayName":"HTTP/2 Disabled","identifiesControllerService":false,"sensitive":false},"idle-timeout":{"name":"idle-timeout","displayName":"Socket Idle Timeout","identifiesControllerService":false,"sensitive":false},"Put Response Body In Attribute":{"name":"Put Response Body In Attribute","displayName":"Response Body Attribute Name","identifiesControllerService":false,"sensitive":false},"Use Chunked Encoding":{"name":"Use Chunked Encoding","displayName":"Request Chunked Transfer-Encoding Enabled","identifiesControllerService":false,"sensitive":false},"Follow Redirects":{"name":"Follow Redirects","displayName":"Response Redirects Enabled","identifiesControllerService":false,"sensitive":false},"Remote URL":{"name":"Remote URL","displayName":"HTTP URL","identifiesControllerService":false,"sensitive":false},"form-body-form-name":{"name":"form-body-form-name","displayName":"Request Multipart Form-Data Name","identifiesControllerService":false,"sensitive":false},"Content-Type":{"name":"Content-Type","displayName":"Request Content-Type","identifiesControllerService":false,"sensitive":false},"flow-file-naming-strategy":{"name":"flow-file-naming-strategy","displayName":"Response FlowFile Naming Strategy","identifiesControllerService":false,"sensitive":false},"max-idle-connections":{"name":"max-idle-connections","displayName":"Socket Idle Connections","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-user":{"name":"invokehttp-proxy-user","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Read Timeout":{"name":"Read Timeout","displayName":"Socket Read Timeout","identifiesControllerService":false,"sensitive":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Response Body Attribute Size","identifiesControllerService":false,"sensitive":false},"invokehttp-proxy-password":{"name":"invokehttp-proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"ignore-response-content":{"name":"ignore-response-content","displayName":"Response Body Ignored","identifiesControllerService":false,"sensitive":false},"Proxy Port":{"name":"Proxy Port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Digest Authentication":{"name":"Digest Authentication","displayName":"Request Digest Authentication Enabled","identifiesControllerService":false,"sensitive":false},"HTTP Method":{"name":"HTTP Method","displayName":"HTTP Method","identifiesControllerService":false,"sensitive":false},"Add Response Headers to Request":{"name":"Add Response Headers to Request","displayName":"Response Header Request Attributes Enabled","identifiesControllerService":false,"sensitive":false},"oauth2-access-token-provider":{"name":"oauth2-access-token-provider","displayName":"Request OAuth2 Access Token Provider","identifiesControllerService":true,"sensitive":false},"Basic Authentication Username":{"name":"Basic Authentication Username","displayName":"Request Username","identifiesControllerService":false,"sensitive":false},"Include Date Header":{"name":"Include Date Header","displayName":"Request Date Header Enabled","identifiesControllerService":false,"sensitive":false},"Penalize on \"No Retry\"":{"name":"Penalize on \"No Retry\"","displayName":"Request Failure Penalization Enabled","identifiesControllerService":false,"sensitive":false},"Useragent":{"name":"Useragent","displayName":"Request User-Agent","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"10 minute","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["No Retry","Retry","Original","Failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"1146f1d8-7f5a-31c7-8933-50886d877b5a","instanceIdentifier":"fc9262a1-1e24-494b-b995-88f7a351b8a0","name":"Find values of interest","comments":"","position":{"x":1911.9959329265632,"y":1374.7301732351127},"type":"org.apache.nifi.processors.standard.RouteText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Routing Strategy":"Route to each matching Property Name","Ignore Leading/Trailing Whitespace":"true","potential URL":"((?:https?:\\/\\/)(?:[\\da-z\\.-]+)\\.(?:[a-z\\.]{2,6})(?:[\\/\\w \\.-]*)*\\/?)","Matching Strategy":"Contains Regular Expression","NiFi":"\\b(nifi)\\b","Character Set":"UTF-8","Ignore Case":"true","Grouping Regular Expression":null},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"Ignore Leading/Trailing Whitespace":{"name":"Ignore Leading/Trailing Whitespace","displayName":"Ignore Leading/Trailing Whitespace","identifiesControllerService":false,"sensitive":false},"potential URL":{"name":"potential URL","displayName":"potential URL","identifiesControllerService":false,"sensitive":false},"Matching Strategy":{"name":"Matching Strategy","displayName":"Matching Strategy","identifiesControllerService":false,"sensitive":false},"NiFi":{"name":"NiFi","displayName":"NiFi","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Ignore Case":{"name":"Ignore Case","displayName":"Ignore Case","identifiesControllerService":false,"sensitive":false},"Grouping Regular Expression":{"name":"Grouping Regular Expression","displayName":"Grouping Regular Expression","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"cecfc444-b657-38ec-a6c1-2e2cf16ff8b2","instanceIdentifier":"9a259661-572e-4fa5-aa96-18ba6b427396","name":"Remove duplicates","comments":"","position":{"x":2943.519290709928,"y":815.7654782603312},"type":"org.apache.nifi.processors.standard.DetectDuplicate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Cache Entry Identifier":"${url}","Cache The Entry Identifier":"false","Age Off Duration":null,"FlowFile Description":"${now()}","Distributed Cache Service":"43d937f1-2c70-3919-857e-42f7de6e22ed"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false},"Cache The Entry Identifier":{"name":"Cache The Entry Identifier","displayName":"Cache The Entry Identifier","identifiesControllerService":false,"sensitive":false},"Age Off Duration":{"name":"Age Off Duration","displayName":"Age Off Duration","identifiesControllerService":false,"sensitive":false},"FlowFile Description":{"name":"FlowFile Description","displayName":"FlowFile Description","identifiesControllerService":false,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":5,"autoTerminatedRelationships":["failure","duplicate"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"64b67094-e214-3251-9cec-1c5b89c8a621","instanceIdentifier":"a16a28e8-0fa7-426f-6ad5-679492788149","name":"Update filename","comments":"","position":{"x":2139.8219065818234,"y":591.0013956090321},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.18.0"},"properties":{"Delete Attributes Expression":null,"filename":"${url}+${invokehttp.tx.id}.html","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"91b2b27f-002a-36ab-9d8d-350053f6ccb8","instanceIdentifier":"384f960d-e3ad-479e-0deb-e41e1e33da37","name":"Create archive conducive filename","comments":"","position":{"x":1346.8600428784473,"y":1672.1395039896995},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.18.0"},"properties":{"Delete Attributes Expression":null,"filename":"${now():format('yyyy-MM-dd HH:mm:ss.SSS')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"373825fb-7d82-3048-8223-4e1014db0d6a","instanceIdentifier":"6b49d3c2-643d-436f-18db-3506241dcd1a","name":"Extract URL","comments":"","position":{"x":2950.7233216078416,"y":1123.1015802777906},"type":"org.apache.nifi.processors.standard.ExtractText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Enable Unicode Predefined Character Classes":"false","Permit Whitespace and Comments in Pattern":"false","Enable Unicode-aware Case Folding":"false","Enable DOTALL Mode":"false","Enable Unix Lines Mode":"false","extract-text-enable-named-groups":"false","Maximum Buffer Size":"1 MB","Enable Canonical Equivalence":"false","url":"((?:https?:\\/\\/)(?:[\\da-z\\.-]+)\\.(?:[a-z\\.]{2,6})(?:[\\/\\w \\.-]*)*\\/?)","Enable Case-insensitive Matching":"false","Enable Multiline Mode":"false","Maximum Capture Group Length":"1024","Enable Literal Parsing of the Pattern":"false","Character Set":"UTF-8","Include Capture Group 0":"false","extract-text-enable-repeating-capture-group":"false"},"propertyDescriptors":{"Enable Unicode Predefined Character Classes":{"name":"Enable Unicode Predefined Character Classes","displayName":"Enable Unicode Predefined Character Classes","identifiesControllerService":false,"sensitive":false},"Permit Whitespace and Comments in Pattern":{"name":"Permit Whitespace and Comments in Pattern","displayName":"Permit Whitespace and Comments in Pattern","identifiesControllerService":false,"sensitive":false},"Enable Unicode-aware Case Folding":{"name":"Enable Unicode-aware Case Folding","displayName":"Enable Unicode-aware Case Folding","identifiesControllerService":false,"sensitive":false},"Enable DOTALL Mode":{"name":"Enable DOTALL Mode","displayName":"Enable DOTALL Mode","identifiesControllerService":false,"sensitive":false},"Enable Unix Lines Mode":{"name":"Enable Unix Lines Mode","displayName":"Enable Unix Lines Mode","identifiesControllerService":false,"sensitive":false},"extract-text-enable-named-groups":{"name":"extract-text-enable-named-groups","displayName":"Enable named group support","identifiesControllerService":false,"sensitive":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false},"Enable Canonical Equivalence":{"name":"Enable Canonical Equivalence","displayName":"Enable Canonical Equivalence","identifiesControllerService":false,"sensitive":false},"url":{"name":"url","displayName":"url","identifiesControllerService":false,"sensitive":false},"Enable Case-insensitive Matching":{"name":"Enable Case-insensitive Matching","displayName":"Enable Case-insensitive Matching","identifiesControllerService":false,"sensitive":false},"Enable Multiline Mode":{"name":"Enable Multiline Mode","displayName":"Enable Multiline Mode","identifiesControllerService":false,"sensitive":false},"Maximum Capture Group Length":{"name":"Maximum Capture Group Length","displayName":"Maximum Capture Group Length","identifiesControllerService":false,"sensitive":false},"Enable Literal Parsing of the Pattern":{"name":"Enable Literal Parsing of the Pattern","displayName":"Enable Literal Parsing of the Pattern","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Include Capture Group 0":{"name":"Include Capture Group 0","displayName":"Include Capture Group 0","identifiesControllerService":false,"sensitive":false},"extract-text-enable-repeating-capture-group":{"name":"extract-text-enable-repeating-capture-group","displayName":"Enable repeating capture group","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":5,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"7174a4ea-9b00-30d7-a867-272931bbaf07","instanceIdentifier":"b08fceb9-3aac-45d8-a67a-94e1ba468744","name":"Remove duplicates","comments":"","position":{"x":1355.0288121943029,"y":859.3085263560343},"type":"org.apache.nifi.processors.standard.DetectDuplicate","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Cache Entry Identifier":"${invokehttp.request.url}","Cache The Entry Identifier":"true","Age Off Duration":null,"FlowFile Description":"${now()}","Distributed Cache Service":"43d937f1-2c70-3919-857e-42f7de6e22ed"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false},"Cache The Entry Identifier":{"name":"Cache The Entry Identifier","displayName":"Cache The Entry Identifier","identifiesControllerService":false,"sensitive":false},"Age Off Duration":{"name":"Age Off Duration","displayName":"Age Off Duration","identifiesControllerService":false,"sensitive":false},"FlowFile Description":{"name":"FlowFile Description","displayName":"FlowFile Description","identifiesControllerService":false,"sensitive":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","duplicate"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"42d0f2e3-e2b8-3e66-95a5-7e08b4b4711e","instanceIdentifier":"39a14c90-1ad4-42c9-c44a-48ec12f382f3","name":"Pass on successes","comments":"","position":{"x":1353.7808305876597,"y":577.3958821681852},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"200-202":"${invokehttp.status.code:equals(200 ):or(\n\t${invokehttp.status.code:equals(201)}\n):or(\n\t${invokehttp.status.code:equals(202)}\n)}","Routing Strategy":"Route to Property name"},"propertyDescriptors":{"200-202":{"name":"200-202","displayName":"200-202","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"38e2df36-123b-35d0-bad6-b758710af28e","instanceIdentifier":"497c1889-f84f-4d8f-226d-f215a93bf330","name":"Log failures","comments":"","position":{"x":1364.7827450193572,"y":275.66266384283387},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"36b70cd3-0bfc-3c4b-97fd-08d2e0c7b1cc","instanceIdentifier":"eaed9304-ee87-4c14-b01b-268af0a9f055","name":"PutEmail","comments":"","position":{"x":1917.9712442935797,"y":1679.9965824025742},"type":"org.apache.nifi.processors.standard.PutEmail","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"CC":null,"SMTP Socket Factory":"javax.net.ssl.SSLSocketFactory","BCC":null,"Message":"This is a website that contained \"nifi\"","Attach File":"true","attribute-name-regex":null,"input-character-set":"UTF-8","SMTP Port":"465","SMTP Auth":"true","From":"joepercivall@yahoo.com","Include All Attributes In Message":"true","SMTP Hostname":"smtp.mail.yahoo.com","Subject":"URL from NiFi webcrawler","SMTP X-Mailer Header":"NiFi","Content Type":"text/plain","SMTP Username":"joepercivall@yahoo.com","To":"joepercivall@yahoo.com","email-ff-content-as-message":"false","SMTP TLS":"false"},"propertyDescriptors":{"CC":{"name":"CC","displayName":"CC","identifiesControllerService":false,"sensitive":false},"SMTP Socket Factory":{"name":"SMTP Socket Factory","displayName":"SMTP Socket Factory","identifiesControllerService":false,"sensitive":false},"BCC":{"name":"BCC","displayName":"BCC","identifiesControllerService":false,"sensitive":false},"Message":{"name":"Message","displayName":"Message","identifiesControllerService":false,"sensitive":false},"Attach File":{"name":"Attach File","displayName":"Attach File","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"input-character-set":{"name":"input-character-set","displayName":"Input Character Set","identifiesControllerService":false,"sensitive":false},"SMTP Port":{"name":"SMTP Port","displayName":"SMTP Port","identifiesControllerService":false,"sensitive":false},"SMTP Auth":{"name":"SMTP Auth","displayName":"SMTP Auth","identifiesControllerService":false,"sensitive":false},"From":{"name":"From","displayName":"From","identifiesControllerService":false,"sensitive":false},"Include All Attributes In Message":{"name":"Include All Attributes In Message","displayName":"Include All Attributes In Message","identifiesControllerService":false,"sensitive":false},"SMTP Hostname":{"name":"SMTP Hostname","displayName":"SMTP Hostname","identifiesControllerService":false,"sensitive":false},"Subject":{"name":"Subject","displayName":"Subject","identifiesControllerService":false,"sensitive":false},"SMTP X-Mailer Header":{"name":"SMTP X-Mailer Header","displayName":"SMTP X-Mailer Header","identifiesControllerService":false,"sensitive":false},"Content Type":{"name":"Content Type","displayName":"Content Type","identifiesControllerService":false,"sensitive":false},"SMTP Username":{"name":"SMTP Username","displayName":"SMTP Username","identifiesControllerService":false,"sensitive":false},"To":{"name":"To","displayName":"To","identifiesControllerService":false,"sensitive":false},"SMTP Password":{"name":"SMTP Password","displayName":"SMTP Password","identifiesControllerService":false,"sensitive":true},"email-ff-content-as-message":{"name":"email-ff-content-as-message","displayName":"Flow file content as message","identifiesControllerService":false,"sensitive":false},"SMTP TLS":{"name":"SMTP TLS","displayName":"SMTP STARTTLS","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"10 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"69fe376b-d495-3cc4-a0e9-b01decdd27bc","instanceIdentifier":"e73afd90-fdf0-4694-ef1a-7a9973a5772c","name":"PutFile","comments":"","position":{"x":1345.5943268468507,"y":2245.0552396673847},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"./tmp","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"3dfc7a4d-24f9-3407-8c3f-0f568f4110f4","instanceIdentifier":"4d013125-df77-4013-7542-22c42de63d11","name":"","source":{"id":"6221577a-5bce-3289-ad21-f491ba0816a0","type":"FUNNEL","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Funnel","comments":"","instanceIdentifier":"0bafb641-8a1d-4797-aaca-b7f62c069333"},"destination":{"id":"1146f1d8-7f5a-31c7-8933-50886d877b5a","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Find values of interest","comments":"","instanceIdentifier":"fc9262a1-1e24-494b-b995-88f7a351b8a0"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":0,"backPressureDataSizeThreshold":"0 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":2147.2685546875,"y":1172.1119738769532}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"16015011-481e-311b-add5-8bd777ae45b1","instanceIdentifier":"e57553cd-6522-435b-aa65-110f2609836b","name":"","source":{"id":"08970b8f-dcfd-3582-bf17-0f9734dedf83","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"SplitText","comments":"","instanceIdentifier":"6aecb94d-e891-4790-e0cd-393c758fb8fe"},"destination":{"id":"373825fb-7d82-3048-8223-4e1014db0d6a","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Extract URL","comments":"","instanceIdentifier":"6b49d3c2-643d-436f-18db-3506241dcd1a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["splits"],"backPressureObjectThreshold":500,"backPressureDataSizeThreshold":"0 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"9e724f66-d400-3e33-a105-ccce9118ef9f","instanceIdentifier":"3fcfce4b-018a-1000-45c8-2f41ba14a2ca","name":"","source":{"id":"6d3052f7-9a1e-37f5-86ff-7fe0927ca8a4","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Get from seed URL","comments":"","instanceIdentifier":"3fc18f48-018a-1000-7e90-13ace9e924eb"},"destination":{"id":"6221577a-5bce-3289-ad21-f491ba0816a0","type":"FUNNEL","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Funnel","comments":"","instanceIdentifier":"0bafb641-8a1d-4797-aaca-b7f62c069333"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"3fdb8b88-e3c5-30df-afd6-f1141a052ccc","instanceIdentifier":"e570b6c0-291c-4dab-ca4a-dc0c349cf2cd","name":"","source":{"id":"c4ceaf27-cdcd-3313-b114-81c1302709b9","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"MergeContent","comments":"","instanceIdentifier":"f584e1b2-31d3-45eb-443b-ea8a096b28cb"},"destination":{"id":"91b2b27f-002a-36ab-9d8d-350053f6ccb8","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Create archive conducive filename","comments":"","instanceIdentifier":"384f960d-e3ad-479e-0deb-e41e1e33da37"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":0,"backPressureDataSizeThreshold":"0 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"d80b55b6-b574-3256-8a1d-71bde9a34976","instanceIdentifier":"07ea5b6c-3361-4867-b5b6-16002fa9c52a","name":"","source":{"id":"64b67094-e214-3251-9cec-1c5b89c8a621","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Update filename","comments":"","instanceIdentifier":"a16a28e8-0fa7-426f-6ad5-679492788149"},"destination":{"id":"42d0f2e3-e2b8-3e66-95a5-7e08b4b4711e","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Pass on successes","comments":"","instanceIdentifier":"39a14c90-1ad4-42c9-c44a-48ec12f382f3"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":0,"backPressureDataSizeThreshold":"0 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"81941e48-468c-31a3-b57f-5f74fbc18544","instanceIdentifier":"3f178d16-3984-4142-2195-caa9f06be84a","name":"","source":{"id":"7174a4ea-9b00-30d7-a867-272931bbaf07","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Remove duplicates","comments":"","instanceIdentifier":"b08fceb9-3aac-45d8-a67a-94e1ba468744"},"destination":{"id":"6221577a-5bce-3289-ad21-f491ba0816a0","type":"FUNNEL","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Funnel","comments":"","instanceIdentifier":"0bafb641-8a1d-4797-aaca-b7f62c069333"},"labelIndex":1,"zIndex":0,"selectedRelationships":["non-duplicate"],"backPressureObjectThreshold":0,"backPressureDataSizeThreshold":"0 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"49eab981-3154-3d1f-9379-2942da00df28","instanceIdentifier":"5f32d219-53ef-4e1a-85b1-f4ab753eea72","name":"","source":{"id":"cecfc444-b657-38ec-a6c1-2e2cf16ff8b2","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Remove duplicates","comments":"","instanceIdentifier":"9a259661-572e-4fa5-aa96-18ba6b427396"},"destination":{"id":"c87b5c3d-10e2-359f-97ea-7767c1dbdb1e","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"InvokeHTTP","comments":"","instanceIdentifier":"a2c1b384-f051-4252-abf1-5973c6226eea"},"labelIndex":1,"zIndex":0,"selectedRelationships":["non-duplicate"],"backPressureObjectThreshold":0,"backPressureDataSizeThreshold":"0 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"475f0f19-13ef-3bf0-bfb2-ab7bd981d0e8","instanceIdentifier":"a6b5589b-f893-4ccb-f54e-02e89cdb5840","name":"","source":{"id":"1146f1d8-7f5a-31c7-8933-50886d877b5a","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Find values of interest","comments":"","instanceIdentifier":"fc9262a1-1e24-494b-b995-88f7a351b8a0"},"destination":{"id":"36b70cd3-0bfc-3c4b-97fd-08d2e0c7b1cc","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"PutEmail","comments":"","instanceIdentifier":"eaed9304-ee87-4c14-b01b-268af0a9f055"},"labelIndex":1,"zIndex":0,"selectedRelationships":["NiFi"],"backPressureObjectThreshold":0,"backPressureDataSizeThreshold":"0 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"65c61584-4947-3458-8137-32b8fd728075","instanceIdentifier":"51163f34-e645-4ffd-f1b0-0664380e2b52","name":"","source":{"id":"e801b130-2a49-3747-bfbc-ffadfa2799d3","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"CompressContent","comments":"","instanceIdentifier":"5bde22b2-d51a-4cd9-3f95-59c2cc25046a"},"destination":{"id":"69fe376b-d495-3cc4-a0e9-b01decdd27bc","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"PutFile","comments":"","instanceIdentifier":"e73afd90-fdf0-4694-ef1a-7a9973a5772c"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":0,"backPressureDataSizeThreshold":"0 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"614abd01-87f1-32e1-9885-0697498db34f","instanceIdentifier":"a68755fa-b1bb-44b5-bc86-2bda61b6765a","name":"","source":{"id":"42d0f2e3-e2b8-3e66-95a5-7e08b4b4711e","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Pass on successes","comments":"","instanceIdentifier":"39a14c90-1ad4-42c9-c44a-48ec12f382f3"},"destination":{"id":"7174a4ea-9b00-30d7-a867-272931bbaf07","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Remove duplicates","comments":"","instanceIdentifier":"b08fceb9-3aac-45d8-a67a-94e1ba468744"},"labelIndex":1,"zIndex":0,"selectedRelationships":["200-202"],"backPressureObjectThreshold":0,"backPressureDataSizeThreshold":"0 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"02d17dab-bb7f-3d5b-9dec-cc812c1fa78f","instanceIdentifier":"7d6c5024-e6ad-4ae6-9d27-11591fac6df8","name":"","source":{"id":"373825fb-7d82-3048-8223-4e1014db0d6a","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Extract URL","comments":"","instanceIdentifier":"6b49d3c2-643d-436f-18db-3506241dcd1a"},"destination":{"id":"cecfc444-b657-38ec-a6c1-2e2cf16ff8b2","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Remove duplicates","comments":"","instanceIdentifier":"9a259661-572e-4fa5-aa96-18ba6b427396"},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":0,"backPressureDataSizeThreshold":"0 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"9aa17c4e-4759-3d17-a799-dbb17e9bce40","instanceIdentifier":"1f65d7f6-849b-486b-c613-e810358990ef","name":"","source":{"id":"42d0f2e3-e2b8-3e66-95a5-7e08b4b4711e","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Pass on successes","comments":"","instanceIdentifier":"39a14c90-1ad4-42c9-c44a-48ec12f382f3"},"destination":{"id":"38e2df36-123b-35d0-bad6-b758710af28e","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Log failures","comments":"","instanceIdentifier":"497c1889-f84f-4d8f-226d-f215a93bf330"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":0,"backPressureDataSizeThreshold":"0 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"4613e7fa-f230-3749-a7bd-c1a2d999c97f","instanceIdentifier":"5e2784d8-40ec-4e59-98f2-f63b527bd0e7","name":"","source":{"id":"6221577a-5bce-3289-ad21-f491ba0816a0","type":"FUNNEL","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Funnel","comments":"","instanceIdentifier":"0bafb641-8a1d-4797-aaca-b7f62c069333"},"destination":{"id":"c4ceaf27-cdcd-3313-b114-81c1302709b9","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"MergeContent","comments":"","instanceIdentifier":"f584e1b2-31d3-45eb-443b-ea8a096b28cb"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":0,"backPressureDataSizeThreshold":"0 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1577.1776428222656,"y":1304.7742639160158}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"19289b20-a283-3b5f-b4f7-37a0d203deed","instanceIdentifier":"2869435b-e3d9-4122-7c5d-4910d91fd732","name":"","source":{"id":"c87b5c3d-10e2-359f-97ea-7767c1dbdb1e","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"InvokeHTTP","comments":"","instanceIdentifier":"a2c1b384-f051-4252-abf1-5973c6226eea"},"destination":{"id":"64b67094-e214-3251-9cec-1c5b89c8a621","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Update filename","comments":"","instanceIdentifier":"a16a28e8-0fa7-426f-6ad5-679492788149"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Response"],"backPressureObjectThreshold":0,"backPressureDataSizeThreshold":"0 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"824849f6-bb0b-3cba-82d5-dd775ccc59fa","instanceIdentifier":"afe48281-991d-4588-6cd9-8251ff51c4d3","name":"","source":{"id":"c87b5c3d-10e2-359f-97ea-7767c1dbdb1e","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"InvokeHTTP","comments":"","instanceIdentifier":"a2c1b384-f051-4252-abf1-5973c6226eea"},"destination":{"id":"c87b5c3d-10e2-359f-97ea-7767c1dbdb1e","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"InvokeHTTP","comments":"","instanceIdentifier":"a2c1b384-f051-4252-abf1-5973c6226eea"},"labelIndex":1,"zIndex":0,"selectedRelationships":["Retry"],"backPressureObjectThreshold":0,"backPressureDataSizeThreshold":"0 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":3555.4799737002036,"y":618.5460497217593},{"x":3555.4799737002036,"y":685.5460497217593}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"ac783e08-d010-3969-9ae0-718aa816f382","instanceIdentifier":"724b8458-7aa2-490a-7869-e7a109eaaebe","name":"","source":{"id":"91b2b27f-002a-36ab-9d8d-350053f6ccb8","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Create archive conducive filename","comments":"","instanceIdentifier":"384f960d-e3ad-479e-0deb-e41e1e33da37"},"destination":{"id":"e801b130-2a49-3747-bfbc-ffadfa2799d3","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"CompressContent","comments":"","instanceIdentifier":"5bde22b2-d51a-4cd9-3f95-59c2cc25046a"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":0,"backPressureDataSizeThreshold":"0 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"356d9039-b6ea-31fc-9b2a-f1ad20b58d9d","instanceIdentifier":"5e2876ec-c5f2-4ba9-54e0-ca846c5133cd","name":"","source":{"id":"1146f1d8-7f5a-31c7-8933-50886d877b5a","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"Find values of interest","comments":"","instanceIdentifier":"fc9262a1-1e24-494b-b995-88f7a351b8a0"},"destination":{"id":"08970b8f-dcfd-3582-bf17-0f9734dedf83","type":"PROCESSOR","groupId":"44ec417b-66bb-3838-876e-76e8837adc72","name":"SplitText","comments":"","instanceIdentifier":"6aecb94d-e891-4790-e0cd-393c758fb8fe"},"labelIndex":1,"zIndex":0,"selectedRelationships":["potential URL"],"backPressureObjectThreshold":0,"backPressureDataSizeThreshold":"0 MB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"}],"labels":[{"identifier":"16d508cd-1765-3b91-9c82-acf30f8ccf57","instanceIdentifier":"8ba3f4b9-0956-41bb-1ac9-9485acf05dff","position":{"x":2090.436134810747,"y":525.6456279170714},"label":"Update the FlowFiles with new Unique names","zIndex":0,"width":400.4689636230469,"height":29.150468826293945,"style":{"background-color":"#ffde93","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"124a5e4b-48bd-3b7c-b984-2cdd1aa0128c","instanceIdentifier":"410a9444-6940-4169-a7c7-2cea513f3de2","position":{"x":1908.8408454293444,"y":1854.905015564682},"label":"This is configured to use yahoo mail. \nYou will need to change it for your \nemail server and address.\n","zIndex":0,"width":333.1101379394531,"height":78.28083038330078,"style":{"font-size":"18px"},"componentType":"LABEL","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"71bf1d4d-26a2-3a0f-9d5e-e51fcfe9a9b6","instanceIdentifier":"0be9fdb2-b549-4af2-b397-a24f59f52d79","position":{"x":761.5739216759814,"y":822.8009037006102},"label":"We don't want to waste resources \nprocessing the same URL more than once \nso we detect duplicates and \"DROP\" them.","zIndex":0,"width":388.3935852050781,"height":72.92381286621094,"style":{"background-color":"#ffde93","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"b78a6ed8-d7c1-3797-8fda-28ae268178f3","instanceIdentifier":"9ef44dce-fd54-4bd6-f0a1-67f87b09d133","position":{"x":3459.699882979692,"y":1102.114179724475},"label":"Extract the URLs to an attribute.\n","zIndex":0,"width":287.45123291015625,"height":35.377105712890625,"style":{"background-color":"#ffde93","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"1bdc07a4-57da-39b8-a89f-eacc112d4d60","instanceIdentifier":"83df613e-adfe-457f-4913-cccd2cf22afd","position":{"x":487.0,"y":1027.8896596511108},"label":"Initial Seed URL.","zIndex":0,"width":401.5073547363281,"height":167.5463104248047,"style":{"background-color":"#ff9a91","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"20e09497-7c6b-3937-bb1c-70ddfdf5f6ec","instanceIdentifier":"e406264b-a247-45f4-98b8-63083012258f","position":{"x":3447.961769576372,"y":831.1476871478759},"label":"We don't want to waste resources hitting the \nsame URL more than once so we detect \nduplicates and \"DROP\" them.","zIndex":0,"width":388.3935852050781,"height":72.92381286621094,"style":{"background-color":"#ffde93","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"4623dbdb-6d01-34bf-970c-23e534cdce96","instanceIdentifier":"a438d687-48fb-4b92-c73b-68385cb6597f","position":{"x":1850.01165106606,"y":971.2560095661102},"label":"Route values of interest to an \nemail address and extract emails \nfor processing.","zIndex":0,"width":393.98187255859375,"height":652.7772827148438,"style":{"background-color":"#91a2ff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"abf98a1e-3de4-33f0-abec-505e757d0ec4","instanceIdentifier":"35bd777c-fb92-4e6d-44f7-902a786c798b","position":{"x":1170.770151899425,"y":1228.1300512932655},"label":"Archive the Contents\n","zIndex":0,"width":451.6512756347656,"height":875.0767211914062,"style":{"background-color":"#aeff91","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"1ee73e87-5ced-323c-942d-6943a6880916","instanceIdentifier":"b263d0d1-b6e9-4782-4b55-d67302142197","position":{"x":2931.4219288781296,"y":472.8929973209105},"label":"This reaches out and \"GET\"s the URL.\nFor HTTPS, the SSL controller service \ncontext is used.","zIndex":0,"width":344.36541748046875,"height":75.25369262695312,"style":{"background-color":"#ffde93","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"ad705fbb-ced5-3cc6-843b-46e8ccefc16a","instanceIdentifier":"ee7ddf51-9dcd-43c8-44b9-913da006e33a","position":{"x":1307.7503918375012,"y":144.0},"label":"Only pass on URLs that succeeded. \nOtherwise log them for reference.","zIndex":0,"width":422.6393127441406,"height":454.3372497558594,"style":{"background-color":"#dc91ff","font-size":"24px"},"componentType":"LABEL","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"339009a3-8340-3f12-bf6e-734acbf7470d","instanceIdentifier":"8bfcf197-0928-4d39-8126-43171334e7dc","position":{"x":2971.8926320031296,"y":1525.456873511096},"label":"Split the FlowFiles into singlelines.","zIndex":0,"width":315.4700927734375,"height":31.697959899902344,"style":{"background-color":"#ffde93","font-size":"18px"},"componentType":"LABEL","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"}],"funnels":[{"identifier":"6221577a-5bce-3289-ad21-f491ba0816a0","instanceIdentifier":"0bafb641-8a1d-4797-aaca-b7f62c069333","position":{"x":1533.0322440312657,"y":1131.0438202559476},"componentType":"FUNNEL","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"}],"controllerServices":[{"identifier":"43d937f1-2c70-3919-857e-42f7de6e22ed","instanceIdentifier":"eb94e808-417f-48c0-5899-e33ed3d21655","name":"DistributedMapCacheClientService","comments":"","type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"1.18.0"},"properties":{"SSL Context Service":null,"Server Port":"4557","Server Hostname":"localhost","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0"}},{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"},{"identifier":"8ac056d6-a3f7-3f63-924c-622aea4cdc3a","instanceIdentifier":"8a38e949-31f8-4dc7-86e0-49a8d13d2953","name":"StandardSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"1.18.0"},"properties":{"Truststore Type":"JKS","SSL Protocol":"TLS","Keystore Type":"JKS","Truststore Filename":"/tmp/ssl/mytruststore","Keystore Filename":"/tmp/ssl/keystore"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"44ec417b-66bb-3838-876e-76e8837adc72"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}