minifi/minifi-toolkit/minifi-toolkit-configuration/src/test/resources/CsvToJson.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one or more
contributor license agreements.  See the NOTICE file distributed with
this work for additional information regarding copyright ownership.
The ASF licenses this file to You under the Apache License, Version 2.0
(the "License"); you may not use this file except in compliance with
the License.  You may obtain a copy of the License at

   http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.
 -->
<template encoding-version="1.0"><description></description><groupId>3d665027-7897-4322-96a1-cabef6b2bcf7</groupId><name>CsvToJsonWorking</name><snippet><connections><id>0cc34e0a-0ae9-44ba-838f-792ed393a301</id><parentGroupId>3d665027-7897-4322-96a1-cabef6b2bcf7</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3d665027-7897-4322-96a1-cabef6b2bcf7</groupId><id>cdcc2028-238b-42b7-bf95-dd4f301b91fc</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers><selectedRelationships>success</selectedRelationships><source><groupId>3d665027-7897-4322-96a1-cabef6b2bcf7</groupId><id>ffb6d4e9-9d6c-4fbe-ab8a-52bad90ce2e5</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>e32e19cb-6c4c-4c6c-a8db-408447ba2ca2</id><parentGroupId>3d665027-7897-4322-96a1-cabef6b2bcf7</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3d665027-7897-4322-96a1-cabef6b2bcf7</groupId><id>5f0ec33c-0a07-4305-a3a9-9a3ba0548ac6</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers><selectedRelationships>success</selectedRelationships><source><groupId>3d665027-7897-4322-96a1-cabef6b2bcf7</groupId><id>cdcc2028-238b-42b7-bf95-dd4f301b91fc</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>b061c170-19da-4e84-9709-327303fef579</id><parentGroupId>3d665027-7897-4322-96a1-cabef6b2bcf7</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3d665027-7897-4322-96a1-cabef6b2bcf7</groupId><id>1d00089c-78cd-467f-9aa6-31e3bdf90cb0</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers><selectedRelationships>success</selectedRelationships><source><groupId>3d665027-7897-4322-96a1-cabef6b2bcf7</groupId><id>8db2ebc8-12c8-4396-89b6-479d907fbc6b</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><connections><id>56ef3e2e-ee35-4598-9fbe-ae86050960b0</id><parentGroupId>3d665027-7897-4322-96a1-cabef6b2bcf7</parentGroupId><backPressureDataSizeThreshold>0 MB</backPressureDataSizeThreshold><backPressureObjectThreshold>0</backPressureObjectThreshold><destination><groupId>3d665027-7897-4322-96a1-cabef6b2bcf7</groupId><id>8db2ebc8-12c8-4396-89b6-479d907fbc6b</id><type>PROCESSOR</type></destination><flowFileExpiration>0 sec</flowFileExpiration><labelIndex>1</labelIndex><name></name><prioritizers>org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer</prioritizers><selectedRelationships>matched</selectedRelationships><source><groupId>3d665027-7897-4322-96a1-cabef6b2bcf7</groupId><id>5f0ec33c-0a07-4305-a3a9-9a3ba0548ac6</id><type>PROCESSOR</type></source><zIndex>0</zIndex></connections><labels><id>a1854f35-469c-41fa-80a2-70ae90cf1ed9</id><parentGroupId>3d665027-7897-4322-96a1-cabef6b2bcf7</parentGroupId><position><x>514.0</x><y>431.6599933547974</y></position><height>281.4172668457031</height><label></label><style/><width>388.0479431152344</width></labels><processors><id>cdcc2028-238b-42b7-bf95-dd4f301b91fc</id><parentGroupId>3d665027-7897-4322-96a1-cabef6b2bcf7</parentGroupId><position><x>569.3500686645507</x><y>239.77198108673096</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Regular Expression</key><value>(?s:^.*$)</value></entry><entry><key>Replacement Value</key><value>a,b,c,d</value></entry><entry><key>Character Set</key><value>UTF-8</value></entry><entry><key>Maximum Buffer Size</key><value>1 MB</value></entry><entry><key>Replacement Strategy</key></entry><entry><key>Evaluation Mode</key><value>Entire text</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ReplaceText</name><relationships><autoTerminate>true</autoTerminate><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><name>success</name></relationships><style/><type>org.apache.nifi.processors.standard.ReplaceText</type></processors><processors><id>ffb6d4e9-9d6c-4fbe-ab8a-52bad90ce2e5</id><parentGroupId>3d665027-7897-4322-96a1-cabef6b2bcf7</parentGroupId><position><x>558.2500778198241</x><y>31.0</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>File Size</key><value>1 b</value></entry><entry><key>Batch Size</key><value>1</value></entry><entry><key>Data Format</key><value>Binary</value></entry><entry><key>Unique FlowFiles</key><value>false</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>10 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>GenerateFlowFile</name><relationships><autoTerminate>false</autoTerminate><name>success</name></relationships><style/><type>org.apache.nifi.processors.standard.GenerateFlowFile</type></processors><processors><id>1d00089c-78cd-467f-9aa6-31e3bdf90cb0</id><parentGroupId>3d665027-7897-4322-96a1-cabef6b2bcf7</parentGroupId><position><x>585.2500320434569</x><y>866.0879933547974</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Delete Attributes Expression</key></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>UpdateAttribute</name><relationships><autoTerminate>true</autoTerminate><name>success</name></relationships><style/><type>org.apache.nifi.processors.attributes.UpdateAttribute</type></processors><processors><id>8db2ebc8-12c8-4396-89b6-479d907fbc6b</id><parentGroupId>3d665027-7897-4322-96a1-cabef6b2bcf7</parentGroupId><position><x>590.3500228881835</x><y>658.9239851760865</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Regular Expression</key><value>(?s:^.*$)</value></entry><entry><key>Replacement Value</key><value>{ &quot;field1&quot; : &quot;${csv.1}&quot;, &quot;field2&quot; : &quot;${csv.2}&quot;,
                            &quot;field3&quot; : &quot;${csv.3}&quot;, &quot;field4&quot; : &quot;${csv.4}&quot; }
                        </value></entry><entry><key>Character Set</key><value>UTF-8</value></entry><entry><key>Maximum Buffer Size</key><value>1 MB</value></entry><entry><key>Replacement Strategy</key></entry><entry><key>Evaluation Mode</key><value>Entire text</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ReplaceText2</name><relationships><autoTerminate>true</autoTerminate><name>failure</name></relationships><relationships><autoTerminate>false</autoTerminate><name>success</name></relationships><style/><type>org.apache.nifi.processors.standard.ReplaceText</type></processors><processors><id>5f0ec33c-0a07-4305-a3a9-9a3ba0548ac6</id><parentGroupId>3d665027-7897-4322-96a1-cabef6b2bcf7</parentGroupId><position><x>580.7500320434569</x><y>450.15196063995364</y></position><config><bulletinLevel>WARN</bulletinLevel><comments></comments><concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount><lossTolerant>false</lossTolerant><penaltyDuration>30 sec</penaltyDuration><properties><entry><key>Character Set</key><value>UTF-8</value></entry><entry><key>Maximum Buffer Size</key><value>1 MB</value></entry><entry><key>Maximum Capture Group Length</key><value>1024</value></entry><entry><key>Enable Canonical Equivalence</key><value>false</value></entry><entry><key>Enable Case-insensitive Matching</key><value>false</value></entry><entry><key>Permit Whitespace and Comments in Pattern</key><value>false</value></entry><entry><key>Enable DOTALL Mode</key><value>false</value></entry><entry><key>Enable Literal Parsing of the Pattern</key><value>false</value></entry><entry><key>Enable Multiline Mode</key><value>false</value></entry><entry><key>Enable Unicode-aware Case Folding</key><value>false</value></entry><entry><key>Enable Unicode Predefined Character Classes</key><value>false</value></entry><entry><key>Enable Unix Lines Mode</key><value>false</value></entry><entry><key>Include Capture Group 0</key><value>false</value></entry><entry><key>csv</key><value>(.+),(.+),(.+),(.+)</value></entry></properties><runDurationMillis>0</runDurationMillis><schedulingPeriod>0 sec</schedulingPeriod><schedulingStrategy>TIMER_DRIVEN</schedulingStrategy><yieldDuration>1 sec</yieldDuration></config><name>ExtractText</name><relationships><autoTerminate>false</autoTerminate><name>matched</name></relationships><relationships><autoTerminate>true</autoTerminate><name>unmatched</name></relationships><style/><type>org.apache.nifi.processors.standard.ExtractText</type></processors></snippet><timestamp>07/04/2016 20:20:45 UTC</timestamp></template>
