nifi-extension-bundles/nifi-standard-bundle/nifi-standard-rules/src/test/resources/RestrictLoadBalancing/RestrictLoadBalancing.json
{"flowContents":{"identifier":"39ca530c-9fd5-359f-92be-f1dcc2712e29","instanceIdentifier":"d1fd0a0b-0194-1000-7312-766249d205c0","name":"RestrictLoadBalancing","comments":"","position":{"x":-176.0,"y":-160.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"d2521342-0194-1000-350f-654464c43ba6","instanceIdentifier":"8f321b49-577c-38d5-ffe0-6ee325ddf030","name":"GenerateFlowFile","comments":"","position":{"x":-368.0,"y":-568.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0-SNAPSHOT"},"properties":{"character-set":"UTF-8","File Size":"${random():mod(6)} B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"10","Unique FlowFiles":"true","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"39ca530c-9fd5-359f-92be-f1dcc2712e29"},{"identifier":"d252f44b-0194-1000-d380-6c9cb17885ec","instanceIdentifier":"930d2d12-fefe-39d2-4884-fb9d9330d892","name":"GenerateFlowFile","comments":"","position":{"x":-368.0,"y":-288.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0-SNAPSHOT"},"properties":{"character-set":"UTF-8","File Size":"${random():mod(6)} B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"10","Unique FlowFiles":"true","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"39ca530c-9fd5-359f-92be-f1dcc2712e29"},{"identifier":"d252814b-0194-1000-c644-753fe971fef5","instanceIdentifier":"2f3f4270-9703-331a-659c-1c583972547b","name":"GenerateFlowFile","comments":"","position":{"x":-368.0,"y":-432.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0-SNAPSHOT"},"properties":{"character-set":"UTF-8","File Size":"${random():mod(6)} B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"10","Unique FlowFiles":"true","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"39ca530c-9fd5-359f-92be-f1dcc2712e29"},{"identifier":"41493fc8-8750-31fd-a4d4-e97a139ff400","instanceIdentifier":"51de6128-0194-1000-8056-b4fd0ea3a52c","name":"UpdateAttribute","comments":"","position":{"x":416.0,"y":-224.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.2.0-SNAPSHOT"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"39ca530c-9fd5-359f-92be-f1dcc2712e29"},{"identifier":"901df113-9ade-38f0-96bd-92436b5881b7","instanceIdentifier":"aa0e758e-0194-1000-a703-6b124a357ce2","name":"GenerateFlowFile","comments":"","position":{"x":-368.0,"y":-152.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0-SNAPSHOT"},"properties":{"character-set":"UTF-8","File Size":"${random():mod(6)} B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"10","Unique FlowFiles":"true","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"39ca530c-9fd5-359f-92be-f1dcc2712e29"},{"identifier":"d23d54f3-0194-1000-0049-920ac8d1f9ca","instanceIdentifier":"78a971d6-3015-3fc1-17c5-68b7be982aa2","name":"GenerateFlowFile","comments":"","position":{"x":-368.0,"y":-16.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0-SNAPSHOT"},"properties":{"character-set":"UTF-8","File Size":"${random():mod(6)} B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"10","Unique FlowFiles":"true","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"39ca530c-9fd5-359f-92be-f1dcc2712e29"},{"identifier":"d23d5b3e-0194-1000-a180-c3c4435e457d","instanceIdentifier":"8792e315-8937-300c-ccbd-3130ceca40fc","name":"GenerateFlowFile","comments":"","position":{"x":-368.0,"y":120.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.2.0-SNAPSHOT"},"properties":{"character-set":"UTF-8","File Size":"${random():mod(6)} B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"10","Unique FlowFiles":"true","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"39ca530c-9fd5-359f-92be-f1dcc2712e29"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f4bb6f79-eb85-32ee-8a1d-574014b36523","instanceIdentifier":"d25342d7-0194-1000-0c3f-8253ceeb017f","name":"round-robin","source":{"id":"d252f44b-0194-1000-d380-6c9cb17885ec","type":"PROCESSOR","groupId":"39ca530c-9fd5-359f-92be-f1dcc2712e29","name":"GenerateFlowFile","comments":"","instanceIdentifier":"930d2d12-fefe-39d2-4884-fb9d9330d892"},"destination":{"id":"41493fc8-8750-31fd-a4d4-e97a139ff400","type":"PROCESSOR","groupId":"39ca530c-9fd5-359f-92be-f1dcc2712e29","name":"UpdateAttribute","comments":"","instanceIdentifier":"51de6128-0194-1000-8056-b4fd0ea3a52c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"39ca530c-9fd5-359f-92be-f1dcc2712e29"},{"identifier":"2928bd29-f2d9-3e91-93a2-96452008c6ce","instanceIdentifier":"d2525cb9-0194-1000-1bb2-8d5434847677","name":"do-not-load-balance","source":{"id":"d2521342-0194-1000-350f-654464c43ba6","type":"PROCESSOR","groupId":"39ca530c-9fd5-359f-92be-f1dcc2712e29","name":"GenerateFlowFile","comments":"","instanceIdentifier":"8f321b49-577c-38d5-ffe0-6ee325ddf030"},"destination":{"id":"41493fc8-8750-31fd-a4d4-e97a139ff400","type":"PROCESSOR","groupId":"39ca530c-9fd5-359f-92be-f1dcc2712e29","name":"UpdateAttribute","comments":"","instanceIdentifier":"51de6128-0194-1000-8056-b4fd0ea3a52c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"39ca530c-9fd5-359f-92be-f1dcc2712e29"},{"identifier":"65090306-dfe2-3580-b920-d55503b4f4dd","instanceIdentifier":"d23e3c2b-0194-1000-b467-6ea5edfc3ac3","name":"robin-robin_compress-attributes","source":{"id":"d23d54f3-0194-1000-0049-920ac8d1f9ca","type":"PROCESSOR","groupId":"39ca530c-9fd5-359f-92be-f1dcc2712e29","name":"GenerateFlowFile","comments":"","instanceIdentifier":"78a971d6-3015-3fc1-17c5-68b7be982aa2"},"destination":{"id":"41493fc8-8750-31fd-a4d4-e97a139ff400","type":"PROCESSOR","groupId":"39ca530c-9fd5-359f-92be-f1dcc2712e29","name":"UpdateAttribute","comments":"","instanceIdentifier":"51de6128-0194-1000-8056-b4fd0ea3a52c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"COMPRESS_ATTRIBUTES_ONLY","componentType":"CONNECTION","groupIdentifier":"39ca530c-9fd5-359f-92be-f1dcc2712e29"},{"identifier":"215fdff4-0f21-31dc-919a-3da83df392f2","instanceIdentifier":"d23e8d64-0194-1000-9edb-e0934db20d0e","name":"round-robin_compress-attributes-and-content","source":{"id":"d23d5b3e-0194-1000-a180-c3c4435e457d","type":"PROCESSOR","groupId":"39ca530c-9fd5-359f-92be-f1dcc2712e29","name":"GenerateFlowFile","comments":"","instanceIdentifier":"8792e315-8937-300c-ccbd-3130ceca40fc"},"destination":{"id":"41493fc8-8750-31fd-a4d4-e97a139ff400","type":"PROCESSOR","groupId":"39ca530c-9fd5-359f-92be-f1dcc2712e29","name":"UpdateAttribute","comments":"","instanceIdentifier":"51de6128-0194-1000-8056-b4fd0ea3a52c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"ROUND_ROBIN","partitioningAttribute":"","loadBalanceCompression":"COMPRESS_ATTRIBUTES_AND_CONTENT","componentType":"CONNECTION","groupIdentifier":"39ca530c-9fd5-359f-92be-f1dcc2712e29"},{"identifier":"c24e03a8-8903-336d-ba48-92b807af5291","instanceIdentifier":"d252d485-0194-1000-3fcf-48e42aa3ef8c","name":"partition-by-attribute","source":{"id":"d252814b-0194-1000-c644-753fe971fef5","type":"PROCESSOR","groupId":"39ca530c-9fd5-359f-92be-f1dcc2712e29","name":"GenerateFlowFile","comments":"","instanceIdentifier":"2f3f4270-9703-331a-659c-1c583972547b"},"destination":{"id":"41493fc8-8750-31fd-a4d4-e97a139ff400","type":"PROCESSOR","groupId":"39ca530c-9fd5-359f-92be-f1dcc2712e29","name":"UpdateAttribute","comments":"","instanceIdentifier":"51de6128-0194-1000-8056-b4fd0ea3a52c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"PARTITION_BY_ATTRIBUTE","partitioningAttribute":"foo","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"39ca530c-9fd5-359f-92be-f1dcc2712e29"},{"identifier":"e28059a2-46e1-3b4a-afa3-e1c65419662e","instanceIdentifier":"d1f99f32-0194-1000-a03c-f706654810a5","name":"single-node","source":{"id":"901df113-9ade-38f0-96bd-92436b5881b7","type":"PROCESSOR","groupId":"39ca530c-9fd5-359f-92be-f1dcc2712e29","name":"GenerateFlowFile","comments":"","instanceIdentifier":"aa0e758e-0194-1000-a703-6b124a357ce2"},"destination":{"id":"41493fc8-8750-31fd-a4d4-e97a139ff400","type":"PROCESSOR","groupId":"39ca530c-9fd5-359f-92be-f1dcc2712e29","name":"UpdateAttribute","comments":"","instanceIdentifier":"51de6128-0194-1000-8056-b4fd0ea3a52c"},"labelIndex":0,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"SINGLE_NODE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"39ca530c-9fd5-359f-92be-f1dcc2712e29"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}