minifi/minifi-integration-tests/src/test/resources/standalone/StressTestFramework/StressTestFramework.json
{
  "encodingVersion": {
    "majorVersion": 2,
    "minorVersion": 0
  },
  "maxTimerDrivenThreadCount": 1,
  "registries": [],
  "parameterContexts": [],
  "parameterProviders": [],
  "controllerServices": [],
  "reportingTasks": [],
  "templates": [],
  "rootGroup": {
    "identifier": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6",
    "instanceIdentifier": "Root-Group",
    "name": "StressTestFramework",
    "comments": "",
    "position": {
      "x": 0.0,
      "y": 0.0
    },
    "processGroups": [],
    "remoteProcessGroups": [],
    "processors": [
      {
        "identifier": "db0d54bd-55c3-383e-9481-c0d4ff976397",
        "instanceIdentifier": "16a47794-5391-4ad2-0000-000000000000",
        "name": "GenerateFlowFile",
        "comments": "",
        "position": {
          "x": 0.0,
          "y": 0.0
        },
        "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
        "bundle": {
          "group": "org.apache.nifi.minifi",
          "artifact": "minifi-standard-nar",
          "version": "2.0.0-SNAPSHOT"
        },
        "properties": {
          "character-set": "UTF-8",
          "File Size": "0 KB",
          "Batch Size": "100",
          "Unique FlowFiles": "false",
          "Data Format": "Binary"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "RUNNING",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6"
      },
      {
        "identifier": "b932fab7-11ae-3039-ba6f-1bd00155b033",
        "instanceIdentifier": "397a4910-cc01-4c6b-0000-000000000000",
        "name": "RouteOnAttribute",
        "comments": "",
        "position": {
          "x": 0.0,
          "y": 0.0
        },
        "type": "org.apache.nifi.processors.standard.RouteOnAttribute",
        "bundle": {
          "group": "org.apache.nifi.minifi",
          "artifact": "minifi-standard-nar",
          "version": "2.0.0-SNAPSHOT"
        },
        "properties": {
          "Routing Strategy": "Route to Property name"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 2,
        "autoTerminatedRelationships": [
          "unmatched"
        ],
        "scheduledState": "RUNNING",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6"
      },
      {
        "identifier": "76f39e00-74fc-3ca9-816c-4ebb8caf72b8",
        "instanceIdentifier": "4ad21391-16a4-1794-0000-000000000000",
        "name": "GenerateFlowFile",
        "comments": "",
        "position": {
          "x": 0.0,
          "y": 0.0
        },
        "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
        "bundle": {
          "group": "org.apache.nifi.minifi",
          "artifact": "minifi-standard-nar",
          "version": "2.0.0-SNAPSHOT"
        },
        "properties": {
          "character-set": "UTF-8",
          "File Size": "0 KB",
          "Batch Size": "100",
          "Unique FlowFiles": "false",
          "Data Format": "Binary"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "RUNNING",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6"
      },
      {
        "identifier": "6869a309-fe8e-3629-81f0-bb15559628fe",
        "instanceIdentifier": "92557c76-f251-45a4-0000-000000000000",
        "name": "UpdateAttribute",
        "comments": "",
        "position": {
          "x": 0.0,
          "y": 0.0
        },
        "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
        "bundle": {
          "group": "org.apache.nifi.minifi",
          "artifact": "minifi-update-attribute-nar",
          "version": "2.0.0-SNAPSHOT"
        },
        "properties": {
          "Store State": "Do not store state",
          "canonical-value-lookup-cache-size": "100",
          "property 2": "value 2 ${nextInt()}",
          "property 1": "value 1"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 2,
        "autoTerminatedRelationships": [],
        "scheduledState": "RUNNING",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6"
      },
      {
        "identifier": "94c991ec-cf01-3f75-8cf8-9124bf9a5a2e",
        "instanceIdentifier": "53914ad2-7794-16a4-0000-000000000000",
        "name": "GenerateFlowFile",
        "comments": "",
        "position": {
          "x": 0.0,
          "y": 0.0
        },
        "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
        "bundle": {
          "group": "org.apache.nifi.minifi",
          "artifact": "minifi-standard-nar",
          "version": "2.0.0-SNAPSHOT"
        },
        "properties": {
          "character-set": "UTF-8",
          "File Size": "0 KB",
          "Batch Size": "100",
          "Unique FlowFiles": "false",
          "Data Format": "Binary"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "RUNNING",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6"
      },
      {
        "identifier": "d4be76a7-d1c7-3117-8163-d0836df83ad4",
        "instanceIdentifier": "779416a4-4ad2-1391-0000-000000000000",
        "name": "GenerateFlowFile",
        "comments": "",
        "position": {
          "x": 0.0,
          "y": 0.0
        },
        "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
        "bundle": {
          "group": "org.apache.nifi.minifi",
          "artifact": "minifi-standard-nar",
          "version": "2.0.0-SNAPSHOT"
        },
        "properties": {
          "character-set": "UTF-8",
          "File Size": "0 KB",
          "Batch Size": "100",
          "Unique FlowFiles": "false",
          "Data Format": "Binary"
        },
        "propertyDescriptors": {},
        "style": {},
        "schedulingPeriod": "0 sec",
        "schedulingStrategy": "TIMER_DRIVEN",
        "executionNode": "ALL",
        "penaltyDuration": "30 sec",
        "yieldDuration": "1 sec",
        "bulletinLevel": "WARN",
        "runDurationMillis": 0,
        "concurrentlySchedulableTaskCount": 1,
        "autoTerminatedRelationships": [],
        "scheduledState": "RUNNING",
        "retryCount": 10,
        "retriedRelationships": [],
        "backoffMechanism": "PENALIZE_FLOWFILE",
        "maxBackoffPeriod": "10 mins",
        "componentType": "PROCESSOR",
        "groupIdentifier": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6"
      }
    ],
    "inputPorts": [],
    "outputPorts": [],
    "connections": [
      {
        "identifier": "f8c12557-c197-3114-88f1-cb970067baf7",
        "instanceIdentifier": "4ad21393-16a4-1794-0000-000000000000",
        "name": "GenerateFlowFile/success/4ad21392-16a4-1794-0000-000000000000",
        "source": {
          "id": "db0d54bd-55c3-383e-9481-c0d4ff976397",
          "type": "PROCESSOR",
          "groupId": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6",
          "name": "GenerateFlowFile",
          "comments": "",
          "instanceIdentifier": "16a47794-5391-4ad2-0000-000000000000"
        },
        "destination": {
          "id": "949f0492-b6ea-3344-861e-d42ebd947b8e",
          "type": "FUNNEL",
          "groupId": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6",
          "name": "Funnel",
          "comments": "",
          "instanceIdentifier": "4ad21392-16a4-1794-0000-000000000000"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6"
      },
      {
        "identifier": "406f8473-3462-34a7-be70-2ecca5604e63",
        "instanceIdentifier": "4c53556e-eb46-458c-0000-000000000000",
        "name": "UpdateAttribute/success/RouteOnAttribute",
        "source": {
          "id": "6869a309-fe8e-3629-81f0-bb15559628fe",
          "type": "PROCESSOR",
          "groupId": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "92557c76-f251-45a4-0000-000000000000"
        },
        "destination": {
          "id": "b932fab7-11ae-3039-ba6f-1bd00155b033",
          "type": "PROCESSOR",
          "groupId": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6",
          "name": "RouteOnAttribute",
          "comments": "",
          "instanceIdentifier": "397a4910-cc01-4c6b-0000-000000000000"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 2000,
        "backPressureDataSizeThreshold": "0 MB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [
          "org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"
        ],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6"
      },
      {
        "identifier": "46aff3e2-5378-3b6c-b21e-0ee7e9545ab3",
        "instanceIdentifier": "4ad21397-16a4-1794-0000-000000000000",
        "name": "4ad21392-16a4-1794-0000-000000000000//UpdateAttribute",
        "source": {
          "id": "949f0492-b6ea-3344-861e-d42ebd947b8e",
          "type": "FUNNEL",
          "groupId": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6",
          "name": "Funnel",
          "comments": "",
          "instanceIdentifier": "4ad21392-16a4-1794-0000-000000000000"
        },
        "destination": {
          "id": "6869a309-fe8e-3629-81f0-bb15559628fe",
          "type": "PROCESSOR",
          "groupId": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6",
          "name": "UpdateAttribute",
          "comments": "",
          "instanceIdentifier": "92557c76-f251-45a4-0000-000000000000"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          ""
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6"
      },
      {
        "identifier": "7c6c4095-8cdd-3e24-af76-fa77dabbf134",
        "instanceIdentifier": "4ad21395-16a4-1794-0000-000000000000",
        "name": "GenerateFlowFile/success/4ad21392-16a4-1794-0000-000000000000",
        "source": {
          "id": "d4be76a7-d1c7-3117-8163-d0836df83ad4",
          "type": "PROCESSOR",
          "groupId": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6",
          "name": "GenerateFlowFile",
          "comments": "",
          "instanceIdentifier": "779416a4-4ad2-1391-0000-000000000000"
        },
        "destination": {
          "id": "949f0492-b6ea-3344-861e-d42ebd947b8e",
          "type": "FUNNEL",
          "groupId": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6",
          "name": "Funnel",
          "comments": "",
          "instanceIdentifier": "4ad21392-16a4-1794-0000-000000000000"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6"
      },
      {
        "identifier": "d6086ea1-3226-3b04-b242-10a4ad422732",
        "instanceIdentifier": "4ad21394-16a4-1794-0000-000000000000",
        "name": "GenerateFlowFile/success/4ad21392-16a4-1794-0000-000000000000",
        "source": {
          "id": "94c991ec-cf01-3f75-8cf8-9124bf9a5a2e",
          "type": "PROCESSOR",
          "groupId": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6",
          "name": "GenerateFlowFile",
          "comments": "",
          "instanceIdentifier": "53914ad2-7794-16a4-0000-000000000000"
        },
        "destination": {
          "id": "949f0492-b6ea-3344-861e-d42ebd947b8e",
          "type": "FUNNEL",
          "groupId": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6",
          "name": "Funnel",
          "comments": "",
          "instanceIdentifier": "4ad21392-16a4-1794-0000-000000000000"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6"
      },
      {
        "identifier": "7a74b780-30fd-342f-8c6a-1e31c7ebd6fe",
        "instanceIdentifier": "4ad21396-16a4-1794-0000-000000000000",
        "name": "GenerateFlowFile/success/4ad21392-16a4-1794-0000-000000000000",
        "source": {
          "id": "76f39e00-74fc-3ca9-816c-4ebb8caf72b8",
          "type": "PROCESSOR",
          "groupId": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6",
          "name": "GenerateFlowFile",
          "comments": "",
          "instanceIdentifier": "4ad21391-16a4-1794-0000-000000000000"
        },
        "destination": {
          "id": "949f0492-b6ea-3344-861e-d42ebd947b8e",
          "type": "FUNNEL",
          "groupId": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6",
          "name": "Funnel",
          "comments": "",
          "instanceIdentifier": "4ad21392-16a4-1794-0000-000000000000"
        },
        "labelIndex": 1,
        "zIndex": 0,
        "selectedRelationships": [
          "success"
        ],
        "backPressureObjectThreshold": 10000,
        "backPressureDataSizeThreshold": "1 GB",
        "flowFileExpiration": "0 sec",
        "prioritizers": [],
        "bends": [],
        "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
        "loadBalanceCompression": "DO_NOT_COMPRESS",
        "componentType": "CONNECTION",
        "groupIdentifier": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6"
      }
    ],
    "labels": [],
    "funnels": [
      {
        "identifier": "949f0492-b6ea-3344-861e-d42ebd947b8e",
        "instanceIdentifier": "4ad21392-16a4-1794-0000-000000000000",
        "position": {
          "x": 0.0,
          "y": 0.0
        },
        "componentType": "FUNNEL",
        "groupIdentifier": "f4cd72f7-b235-394b-928a-ffb0e7cf2db6"
      }
    ],
    "controllerServices": [],
    "variables": {},
    "defaultFlowFileExpiration": "0 sec",
    "defaultBackPressureObjectThreshold": 10000,
    "defaultBackPressureDataSizeThreshold": "1 GB",
    "componentType": "PROCESS_GROUP",
    "flowFileConcurrency": "UNBOUNDED",
    "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE"
  }
}