nifi-nar-bundles/nifi-asn1-bundle/nifi-asn1-services/src/test/resources/ASN1.json
{"flowContents":{"identifier":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc","instanceIdentifier":"fe3bc7f4-6a39-3e81-3a42-f791d9de5d38","name":"ASN1","comments":"","position":{"x":966.0549686150034,"y":1110.3747169876633},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"6f738b84-04d6-37eb-9df0-1348ccac695a","instanceIdentifier":"4e55a278-339f-3a4c-2956-401641d66275","name":"FetchFile","comments":"","position":{"x":872.0,"y":-144.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","permission.denied","not.found"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc"},{"identifier":"1fcf9415-46ad-31d8-baa6-e0e37a522777","instanceIdentifier":"f4350568-578e-3774-9304-ac73041d2da4","name":"LogAttribute","comments":"","position":{"x":880.0,"y":400.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc"},{"identifier":"1ec9b109-cda4-3ae9-b135-563396348303","instanceIdentifier":"2f7bb343-d507-3f4c-1aba-1b0cdd44f2d0","name":"FetchFile","comments":"","position":{"x":280.0,"y":-128.0},"type":"org.apache.nifi.processors.standard.FetchFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","permission.denied","not.found"],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc"},{"identifier":"32ace28c-fd7b-3310-8b9a-4dfd043e56cf","instanceIdentifier":"f233def4-f135-3cda-9634-0ba06f5862bc","name":"ConvertRecord","comments":"","position":{"x":872.0,"y":120.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"record-writer":"0162ff29-a1d9-3419-8b9b-dc7b1962794c","record-reader":"6e76d573-064f-32a7-92fd-b98e91232eaf","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc"},{"identifier":"16fe31fc-bc9a-3471-a24d-72c65cdd65c7","instanceIdentifier":"c9a75e7f-cda9-3d3e-b576-094e7a1bb15e","name":"GenerateFlowFile","comments":"","position":{"x":872.0,"y":-456.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"character-set":"UTF-8","absolute.path":"#{NIFI_PROJECT_HOME}/nifi-nar-bundles/nifi-asn1-bundle/nifi-asn1-services/src/test/resources/examples","File Size":"0B","mime-type":null,"filename":"composite.dat","generate-ff-custom-text":null,"rootModelClass":"org.apache.nifi.jasn1.example.Composite","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"absolute.path":{"name":"absolute.path","displayName":"absolute.path","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"rootModelClass":{"name":"rootModelClass","displayName":"rootModelClass","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1d","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc"},{"identifier":"eb27a57a-4203-3f98-bf39-d6820110d1a0","instanceIdentifier":"dcf85046-876e-3148-e7e8-21954082c38c","name":"GenerateFlowFile","comments":"","position":{"x":280.0,"y":-440.0},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"character-set":"UTF-8","absolute.path":"#{NIFI_PROJECT_HOME}/nifi-nar-bundles/nifi-asn1-bundle/nifi-asn1-services/src/test/resources/examples","File Size":"0B","mime-type":null,"filename":"basic-types.dat","generate-ff-custom-text":null,"rootModelClass":"org.apache.nifi.jasn1.example.BasicTypes","Batch Size":"1","Unique FlowFiles":"false","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"absolute.path":{"name":"absolute.path","displayName":"absolute.path","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"rootModelClass":{"name":"rootModelClass","displayName":"rootModelClass","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"1d","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc"},{"identifier":"17e1cd57-73ee-3f74-a0fe-863b187f5a65","instanceIdentifier":"9031054b-0cae-3ab9-ced7-318a49e219c5","name":"ConvertRecord","comments":"","position":{"x":280.0,"y":152.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"record-writer":"0162ff29-a1d9-3419-8b9b-dc7b1962794c","record-reader":"6e76d573-064f-32a7-92fd-b98e91232eaf","include-zero-record-flowfiles":"true"},"propertyDescriptors":{"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc"},{"identifier":"223b4ca4-d44b-3a62-bb0a-3a560357f49a","instanceIdentifier":"4bc3e36f-8959-38b0-bf73-3b0baa7eaaab","name":"LogAttribute","comments":"","position":{"x":272.0,"y":448.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.18.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":0,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"ec0856b3-904e-3fab-83d9-b836d30c8130","instanceIdentifier":"74d05436-6196-3623-6ab0-3a514354f63d","name":"","source":{"id":"17e1cd57-73ee-3f74-a0fe-863b187f5a65","type":"PROCESSOR","groupId":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc","name":"ConvertRecord","comments":"","instanceIdentifier":"9031054b-0cae-3ab9-ced7-318a49e219c5"},"destination":{"id":"223b4ca4-d44b-3a62-bb0a-3a560357f49a","type":"PROCESSOR","groupId":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc","name":"LogAttribute","comments":"","instanceIdentifier":"4bc3e36f-8959-38b0-bf73-3b0baa7eaaab"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":260.0,"y":364.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc"},{"identifier":"ecb2f8c4-9b19-3d2a-aa6d-106724ce100a","instanceIdentifier":"60c31730-a9e7-3586-87b5-cac28749582f","name":"","source":{"id":"32ace28c-fd7b-3310-8b9a-4dfd043e56cf","type":"PROCESSOR","groupId":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc","name":"ConvertRecord","comments":"","instanceIdentifier":"f233def4-f135-3cda-9634-0ba06f5862bc"},"destination":{"id":"1fcf9415-46ad-31d8-baa6-e0e37a522777","type":"PROCESSOR","groupId":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc","name":"LogAttribute","comments":"","instanceIdentifier":"f4350568-578e-3774-9304-ac73041d2da4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":784.0,"y":328.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc"},{"identifier":"a0f9e8c5-8c48-3744-b9c6-ae8e3cc47c4e","instanceIdentifier":"477f8800-5835-33ce-d126-c74d943d4e8b","name":"","source":{"id":"6f738b84-04d6-37eb-9df0-1348ccac695a","type":"PROCESSOR","groupId":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc","name":"FetchFile","comments":"","instanceIdentifier":"4e55a278-339f-3a4c-2956-401641d66275"},"destination":{"id":"32ace28c-fd7b-3310-8b9a-4dfd043e56cf","type":"PROCESSOR","groupId":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc","name":"ConvertRecord","comments":"","instanceIdentifier":"f233def4-f135-3cda-9634-0ba06f5862bc"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc"},{"identifier":"1f752438-9e3b-3927-9f19-c83814f198e7","instanceIdentifier":"12476da8-434f-3d88-3783-6eb5b38de4cc","name":"","source":{"id":"16fe31fc-bc9a-3471-a24d-72c65cdd65c7","type":"PROCESSOR","groupId":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc","name":"GenerateFlowFile","comments":"","instanceIdentifier":"c9a75e7f-cda9-3d3e-b576-094e7a1bb15e"},"destination":{"id":"6f738b84-04d6-37eb-9df0-1348ccac695a","type":"PROCESSOR","groupId":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc","name":"FetchFile","comments":"","instanceIdentifier":"4e55a278-339f-3a4c-2956-401641d66275"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc"},{"identifier":"2a64f827-52a7-30bb-8b30-09495387e353","instanceIdentifier":"54b009c1-c634-3e8c-4e51-b5b9caadf80e","name":"","source":{"id":"eb27a57a-4203-3f98-bf39-d6820110d1a0","type":"PROCESSOR","groupId":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc","name":"GenerateFlowFile","comments":"","instanceIdentifier":"dcf85046-876e-3148-e7e8-21954082c38c"},"destination":{"id":"1ec9b109-cda4-3ae9-b135-563396348303","type":"PROCESSOR","groupId":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc","name":"FetchFile","comments":"","instanceIdentifier":"2f7bb343-d507-3f4c-1aba-1b0cdd44f2d0"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc"},{"identifier":"bbdb5d25-73e8-370a-ad26-7ce04410d0b6","instanceIdentifier":"ca20466a-2162-37c3-99f8-1d446c7510d4","name":"","source":{"id":"32ace28c-fd7b-3310-8b9a-4dfd043e56cf","type":"PROCESSOR","groupId":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc","name":"ConvertRecord","comments":"","instanceIdentifier":"f233def4-f135-3cda-9634-0ba06f5862bc"},"destination":{"id":"1fcf9415-46ad-31d8-baa6-e0e37a522777","type":"PROCESSOR","groupId":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc","name":"LogAttribute","comments":"","instanceIdentifier":"f4350568-578e-3774-9304-ac73041d2da4"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc"},{"identifier":"19c17826-d0b6-383e-a485-7354244d9eae","instanceIdentifier":"096f7967-14d3-336e-1592-b1606773768f","name":"","source":{"id":"17e1cd57-73ee-3f74-a0fe-863b187f5a65","type":"PROCESSOR","groupId":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc","name":"ConvertRecord","comments":"","instanceIdentifier":"9031054b-0cae-3ab9-ced7-318a49e219c5"},"destination":{"id":"223b4ca4-d44b-3a62-bb0a-3a560357f49a","type":"PROCESSOR","groupId":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc","name":"LogAttribute","comments":"","instanceIdentifier":"4bc3e36f-8959-38b0-bf73-3b0baa7eaaab"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc"},{"identifier":"bc7cccb8-6ffa-34a1-8ec9-13f6e1de9036","instanceIdentifier":"a372f0bb-eb36-3951-3408-35a4002b731e","name":"","source":{"id":"1ec9b109-cda4-3ae9-b135-563396348303","type":"PROCESSOR","groupId":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc","name":"FetchFile","comments":"","instanceIdentifier":"2f7bb343-d507-3f4c-1aba-1b0cdd44f2d0"},"destination":{"id":"17e1cd57-73ee-3f74-a0fe-863b187f5a65","type":"PROCESSOR","groupId":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc","name":"ConvertRecord","comments":"","instanceIdentifier":"9031054b-0cae-3ab9-ced7-318a49e219c5"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"0162ff29-a1d9-3419-8b9b-dc7b1962794c","instanceIdentifier":"94d83f41-d8ac-356b-a0bf-f597fd9fe3a4","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.18.0"},"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc"},{"identifier":"6e76d573-064f-32a7-92fd-b98e91232eaf","instanceIdentifier":"d221831f-d4e0-380c-6e47-08f1e4936e9c","name":"JASN1Reader","comments":"","type":"org.apache.nifi.jasn1.JASN1Reader","bundle":{"group":"org.apache.nifi","artifact":"nifi-asn1-nar","version":"1.18.0"},"properties":{"root-model-class-name":"${rootModelClass}","root-model-name":null,"asn-files":"#{NIFI_PROJECT_HOME}/nifi-nar-bundles/nifi-asn1-bundle/nifi-asn1-services/src/test/resources/example.asn"},"propertyDescriptors":{"root-model-class-name":{"name":"root-model-class-name","displayName":"Root Model Class Name","identifiesControllerService":false,"sensitive":false},"root-model-name":{"name":"root-model-name","displayName":"Root Model Name","identifiesControllerService":false,"sensitive":false},"asn-files":{"name":"asn-files","displayName":"ASN.1 Files","identifiesControllerService":false,"sensitive":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.18.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"c14fc1ee-329b-3005-bfd2-5cfbde0d62fc"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","flowFileConcurrency":"UNBOUNDED"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}