nifi-connector-mock-bundle/nifi-connector-mock-test-bundle/nifi-connector-mock-test-connectors/src/main/resources/flows/Generate_and_Update.json
{
    "flowContents": {
        "identifier": "1800c04e-f9b9-3293-bfc7-b35f43e0706c",
        "instanceIdentifier": "4f8ca484-019c-1000-955f-68c5defeb22b",
        "name": "Generate_and_Update",
        "comments": "",
        "position": {
            "x": -1254.0,
            "y": -437.70139741897583
        },
        "processGroups": [],
        "remoteProcessGroups": [],
        "processors": [
            {
                "identifier": "4d4160b1-736c-3be4-bc3a-84fc6eb4ad2a",
                "instanceIdentifier": "499f9781-71c5-367f-aa17-5441bff29de9",
                "name": "UpdateAttribute",
                "comments": "",
                "position": {
                    "x": -360.0,
                    "y": 24.0
                },
                "type": "org.apache.nifi.processors.attributes.UpdateAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-update-attribute-nar",
                    "version": "2026.1.20.21-SNAPSHOT"
                },
                "properties": {
                    "Delete Attributes Expression": null,
                    "Store State": "Do not store state",
                    "Cache Value Lookup Cache Size": "100",
                    "Stateful Variables Initial Value": null
                },
                "propertyDescriptors": {
                    "Delete Attributes Expression": {
                        "name": "Delete Attributes Expression",
                        "displayName": "Delete Attributes Expression",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Store State": {
                        "name": "Store State",
                        "displayName": "Store State",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Cache Value Lookup Cache Size": {
                        "name": "Cache Value Lookup Cache Size",
                        "displayName": "Cache Value Lookup Cache Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Stateful Variables Initial Value": {
                        "name": "Stateful Variables Initial Value",
                        "displayName": "Stateful Variables Initial Value",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 25,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "success"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "1800c04e-f9b9-3293-bfc7-b35f43e0706c"
            },
            {
                "identifier": "54ab8572-0e10-39a5-b553-931f9c253023",
                "instanceIdentifier": "6d6b9cd3-6d31-330a-40f9-185959ad1c78",
                "name": "GenerateFlowFile",
                "comments": "",
                "position": {
                    "x": -360.0,
                    "y": -371.5
                },
                "type": "org.apache.nifi.processors.standard.GenerateFlowFile",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2026.1.20.21-SNAPSHOT"
                },
                "properties": {
                    "File Size": "0B",
                    "Batch Size": "1",
                    "Unique FlowFiles": "false",
                    "Mime Type": null,
                    "Custom Text": null,
                    "Character Set": "UTF-8",
                    "Data Format": "Text",
                    "key": "test.key"
                },
                "propertyDescriptors": {
                    "File Size": {
                        "name": "File Size",
                        "displayName": "File Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Batch Size": {
                        "name": "Batch Size",
                        "displayName": "Batch Size",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Unique FlowFiles": {
                        "name": "Unique FlowFiles",
                        "displayName": "Unique FlowFiles",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Mime Type": {
                        "name": "Mime Type",
                        "displayName": "Mime Type",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Custom Text": {
                        "name": "Custom Text",
                        "displayName": "Custom Text",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Character Set": {
                        "name": "Character Set",
                        "displayName": "Character Set",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "Data Format": {
                        "name": "Data Format",
                        "displayName": "Data Format",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "key": {
                        "name": "key",
                        "displayName": "key",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "1800c04e-f9b9-3293-bfc7-b35f43e0706c"
            },
            {
                "identifier": "34c1ac1b-1f21-3fd6-a734-726d5b142b7a",
                "instanceIdentifier": "4f8d0670-019c-1000-1ac6-c81ef75a70d0",
                "name": "LookupAttribute",
                "comments": "",
                "position": {
                    "x": -360.0,
                    "y": -168.0
                },
                "type": "org.apache.nifi.processors.standard.LookupAttribute",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-standard-nar",
                    "version": "2026.1.20.21-SNAPSHOT"
                },
                "properties": {
                    "Lookup Service": "b013f870-aee8-3cc4-b022-ac385ded928d",
                    "test.attribute": "${key}",
                    "Include Empty Values": "true"
                },
                "propertyDescriptors": {
                    "Lookup Service": {
                        "name": "Lookup Service",
                        "displayName": "Lookup Service",
                        "identifiesControllerService": true,
                        "sensitive": false,
                        "dynamic": false
                    },
                    "test.attribute": {
                        "name": "test.attribute",
                        "displayName": "test.attribute",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    },
                    "Include Empty Values": {
                        "name": "Include Empty Values",
                        "displayName": "Include Empty Values",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": false
                    }
                },
                "style": {},
                "schedulingPeriod": "0 sec",
                "schedulingStrategy": "TIMER_DRIVEN",
                "executionNode": "ALL",
                "penaltyDuration": "30 sec",
                "yieldDuration": "1 sec",
                "bulletinLevel": "WARN",
                "runDurationMillis": 0,
                "concurrentlySchedulableTaskCount": 1,
                "autoTerminatedRelationships": [
                    "failure"
                ],
                "scheduledState": "ENABLED",
                "retryCount": 10,
                "retriedRelationships": [],
                "backoffMechanism": "PENALIZE_FLOWFILE",
                "maxBackoffPeriod": "10 mins",
                "componentType": "PROCESSOR",
                "groupIdentifier": "1800c04e-f9b9-3293-bfc7-b35f43e0706c"
            }
        ],
        "inputPorts": [],
        "outputPorts": [],
        "connections": [
            {
                "identifier": "893ad2c9-4a07-3447-b772-6b7149cfd6c1",
                "instanceIdentifier": "5b9c96a4-7982-3746-2937-45511fb20c96",
                "name": "",
                "source": {
                    "id": "54ab8572-0e10-39a5-b553-931f9c253023",
                    "type": "PROCESSOR",
                    "groupId": "1800c04e-f9b9-3293-bfc7-b35f43e0706c",
                    "name": "GenerateFlowFile",
                    "comments": "",
                    "instanceIdentifier": "6d6b9cd3-6d31-330a-40f9-185959ad1c78"
                },
                "destination": {
                    "id": "34c1ac1b-1f21-3fd6-a734-726d5b142b7a",
                    "type": "PROCESSOR",
                    "groupId": "1800c04e-f9b9-3293-bfc7-b35f43e0706c",
                    "name": "LookupAttribute",
                    "comments": "",
                    "instanceIdentifier": "4f8d0670-019c-1000-1ac6-c81ef75a70d0"
                },
                "labelIndex": 0,
                "zIndex": 1,
                "selectedRelationships": [
                    "success"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "1800c04e-f9b9-3293-bfc7-b35f43e0706c"
            },
            {
                "identifier": "f63459de-cf1f-3773-8f93-405518e085e4",
                "instanceIdentifier": "4f93c5e2-019c-1000-2bea-06d8d611d5f6",
                "name": "",
                "source": {
                    "id": "34c1ac1b-1f21-3fd6-a734-726d5b142b7a",
                    "type": "PROCESSOR",
                    "groupId": "1800c04e-f9b9-3293-bfc7-b35f43e0706c",
                    "name": "LookupAttribute",
                    "comments": "",
                    "instanceIdentifier": "4f8d0670-019c-1000-1ac6-c81ef75a70d0"
                },
                "destination": {
                    "id": "4d4160b1-736c-3be4-bc3a-84fc6eb4ad2a",
                    "type": "PROCESSOR",
                    "groupId": "1800c04e-f9b9-3293-bfc7-b35f43e0706c",
                    "name": "UpdateAttribute",
                    "comments": "",
                    "instanceIdentifier": "499f9781-71c5-367f-aa17-5441bff29de9"
                },
                "labelIndex": 0,
                "zIndex": 2,
                "selectedRelationships": [
                    "matched",
                    "unmatched"
                ],
                "backPressureObjectThreshold": 10000,
                "backPressureDataSizeThreshold": "1 GB",
                "flowFileExpiration": "0 sec",
                "prioritizers": [],
                "bends": [],
                "loadBalanceStrategy": "DO_NOT_LOAD_BALANCE",
                "partitioningAttribute": "",
                "loadBalanceCompression": "DO_NOT_COMPRESS",
                "componentType": "CONNECTION",
                "groupIdentifier": "1800c04e-f9b9-3293-bfc7-b35f43e0706c"
            }
        ],
        "labels": [],
        "funnels": [],
        "controllerServices": [
            {
                "identifier": "b013f870-aee8-3cc4-b022-ac385ded928d",
                "instanceIdentifier": "4f8d53d4-019c-1000-d376-abfaa091dc37",
                "name": "SimpleKeyValueLookupService",
                "comments": "",
                "type": "org.apache.nifi.lookup.SimpleKeyValueLookupService",
                "bundle": {
                    "group": "org.apache.nifi",
                    "artifact": "nifi-lookup-services-nar",
                    "version": "2026.1.20.21-SNAPSHOT"
                },
                "properties": {
                    "test.key": "Test Value"
                },
                "propertyDescriptors": {
                    "test.key": {
                        "name": "test.key",
                        "displayName": "test.key",
                        "identifiesControllerService": false,
                        "sensitive": false,
                        "dynamic": true
                    }
                },
                "controllerServiceApis": [
                    {
                        "type": "org.apache.nifi.lookup.LookupService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2026.1.20.21-SNAPSHOT"
                        }
                    },
                    {
                        "type": "org.apache.nifi.lookup.StringLookupService",
                        "bundle": {
                            "group": "org.apache.nifi",
                            "artifact": "nifi-standard-services-api-nar",
                            "version": "2026.1.20.21-SNAPSHOT"
                        }
                    }
                ],
                "scheduledState": "DISABLED",
                "bulletinLevel": "WARN",
                "componentType": "CONTROLLER_SERVICE",
                "groupIdentifier": "1800c04e-f9b9-3293-bfc7-b35f43e0706c"
            }
        ],
        "defaultFlowFileExpiration": "0 sec",
        "defaultBackPressureObjectThreshold": 10000,
        "defaultBackPressureDataSizeThreshold": "1 GB",
        "scheduledState": "ENABLED",
        "executionEngine": "INHERITED",
        "maxConcurrentTasks": 1,
        "statelessFlowTimeout": "1 min",
        "flowFileConcurrency": "UNBOUNDED",
        "flowFileOutboundPolicy": "STREAM_WHEN_AVAILABLE",
        "componentType": "PROCESS_GROUP"
    },
    "externalControllerServices": {},
    "parameterContexts": {},
    "flowEncodingVersion": "1.0",
    "parameterProviders": {},
    "latest": false
}