nifi-nar-bundles/nifi-stateless-processor-bundle/nifi-stateless-processor-tests/src/test/resources/route-one-to-failure.json
{"flowContents":{"identifier":"07407a58-33d1-3f97-b29d-2a68ce0118f5","name":"Route One to Failure","comments":"","position":{"x":-1121.4711030366489,"y":525.0032298890848},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ce1cbd81-7d39-3b5d-bb58-1e30a39b3d91","name":"RouteOnAttribute","comments":"","position":{"x":836.9999593270581,"y":330.0000021146835},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0-SNAPSHOT"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","last":"${index:equals('99')}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"last":{"name":"last","displayName":"last","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"07407a58-33d1-3f97-b29d-2a68ce0118f5"},{"identifier":"10ea8aa8-ecd0-3e14-97a8-a01f3d25f821","name":"UpdateAttribute","comments":"","position":{"x":844.9999593270581,"y":101.0000021146835},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.15.0-SNAPSHOT"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","index":"${nextInt()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"index":{"name":"index","displayName":"index","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"07407a58-33d1-3f97-b29d-2a68ce0118f5"},{"identifier":"5e2485da-a95d-3734-b505-deec8602fa5e","name":"GenerateFlowFile","comments":"","position":{"x":840.0,"y":-128.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0-SNAPSHOT"},"style":{},"type":"org.apache.nifi.processors.standard.GenerateFlowFile","properties":{"character-set":"UTF-8","File Size":"10 B","mime-type":null,"generate-ff-custom-text":null,"Batch Size":"100","Unique FlowFiles":"true","Data Format":"Text"},"propertyDescriptors":{"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"File Size":{"name":"File Size","displayName":"File Size","identifiesControllerService":false,"sensitive":false},"mime-type":{"name":"mime-type","displayName":"Mime Type","identifiesControllerService":false,"sensitive":false},"generate-ff-custom-text":{"name":"generate-ff-custom-text","displayName":"Custom Text","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Unique FlowFiles":{"name":"Unique FlowFiles","displayName":"Unique FlowFiles","identifiesControllerService":false,"sensitive":false},"Data Format":{"name":"Data Format","displayName":"Data Format","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"07407a58-33d1-3f97-b29d-2a68ce0118f5"}],"inputPorts":[],"outputPorts":[{"identifier":"d8d94840-51ea-3d87-ad0d-a4117b7a0b8c","name":"First 99","position":{"x":888.0,"y":648.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"07407a58-33d1-3f97-b29d-2a68ce0118f5"},{"identifier":"b972ad01-d7d8-37e6-8360-a4f3907ce34c","name":"Last","position":{"x":1310.9999593270581,"y":645.0000021146835},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"07407a58-33d1-3f97-b29d-2a68ce0118f5"}],"connections":[{"identifier":"2a3a26bf-e76b-3e31-9c90-287b5b91e768","name":"","source":{"id":"10ea8aa8-ecd0-3e14-97a8-a01f3d25f821","type":"PROCESSOR","groupId":"07407a58-33d1-3f97-b29d-2a68ce0118f5","name":"UpdateAttribute","comments":""},"destination":{"id":"ce1cbd81-7d39-3b5d-bb58-1e30a39b3d91","type":"PROCESSOR","groupId":"07407a58-33d1-3f97-b29d-2a68ce0118f5","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"07407a58-33d1-3f97-b29d-2a68ce0118f5"},{"identifier":"953ba21e-7396-32d7-a6d7-b8c65cb15e23","name":"","source":{"id":"ce1cbd81-7d39-3b5d-bb58-1e30a39b3d91","type":"PROCESSOR","groupId":"07407a58-33d1-3f97-b29d-2a68ce0118f5","name":"RouteOnAttribute","comments":""},"destination":{"id":"d8d94840-51ea-3d87-ad0d-a4117b7a0b8c","type":"OUTPUT_PORT","groupId":"07407a58-33d1-3f97-b29d-2a68ce0118f5","name":"First 99"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"07407a58-33d1-3f97-b29d-2a68ce0118f5"},{"identifier":"8cb0c82f-3ab9-3f0f-aeec-55c533c5bb17","name":"","source":{"id":"ce1cbd81-7d39-3b5d-bb58-1e30a39b3d91","type":"PROCESSOR","groupId":"07407a58-33d1-3f97-b29d-2a68ce0118f5","name":"RouteOnAttribute","comments":""},"destination":{"id":"b972ad01-d7d8-37e6-8360-a4f3907ce34c","type":"OUTPUT_PORT","groupId":"07407a58-33d1-3f97-b29d-2a68ce0118f5","name":"Last"},"labelIndex":1,"zIndex":0,"selectedRelationships":["last"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"07407a58-33d1-3f97-b29d-2a68ce0118f5"},{"identifier":"35ee5041-d5a6-3386-9373-4c3760a08255","name":"","source":{"id":"5e2485da-a95d-3734-b505-deec8602fa5e","type":"PROCESSOR","groupId":"07407a58-33d1-3f97-b29d-2a68ce0118f5","name":"GenerateFlowFile","comments":""},"destination":{"id":"10ea8aa8-ecd0-3e14-97a8-a01f3d25f821","type":"PROCESSOR","groupId":"07407a58-33d1-3f97-b29d-2a68ce0118f5","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"07407a58-33d1-3f97-b29d-2a68ce0118f5"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}