nifi-nar-bundles/nifi-stateless-processor-bundle/nifi-stateless-processor-tests/src/test/resources/route-to-desired-port.json
{"flowContents":{"identifier":"9219030c-e73b-3cd5-8d99-b831dcd774be","name":"Route to Desired Port","comments":"","position":{"x":-1805.1150914043885,"y":541.6852281794169},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"ef345c88-589c-3937-86fb-cc1373a47810","name":"RouteOnAttribute","comments":"","position":{"x":816.0,"y":288.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0-SNAPSHOT"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"A":"${desired.port:equals(\"A\")}","B":"${desired.port:equals(\"B\")}","Routing Strategy":"Route to Property name","C":"${desired.port:equals(\"C\")}"},"propertyDescriptors":{"A":{"name":"A","displayName":"A","identifiesControllerService":false,"sensitive":false},"B":{"name":"B","displayName":"B","identifiesControllerService":false,"sensitive":false},"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"C":{"name":"C","displayName":"C","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"9219030c-e73b-3cd5-8d99-b831dcd774be"}],"inputPorts":[{"identifier":"3958dd52-d178-3702-b12f-017bfb82e274","name":"In","position":{"x":874.9999831843675,"y":129.99999718920503},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"9219030c-e73b-3cd5-8d99-b831dcd774be"}],"outputPorts":[{"identifier":"c09078b2-06b1-3e56-8d19-3a8a98cbb035","name":"Other","comments":"","position":{"x":1424.0,"y":568.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"9219030c-e73b-3cd5-8d99-b831dcd774be"},{"identifier":"04d462de-69ef-3104-be1c-50c5520e6040","name":"B","comments":"","position":{"x":840.0,"y":568.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"9219030c-e73b-3cd5-8d99-b831dcd774be"},{"identifier":"6074eb94-c5ea-3110-bb7a-0f81ffe580e8","name":"A","position":{"x":543.9999831843675,"y":565.999997189205},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"9219030c-e73b-3cd5-8d99-b831dcd774be"},{"identifier":"dfc9990d-b1b2-3196-b33b-987cca5df975","name":"C","comments":"","position":{"x":1128.0,"y":568.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"9219030c-e73b-3cd5-8d99-b831dcd774be"}],"connections":[{"identifier":"bcf278b8-ef54-3a6f-b0f9-dd66c1e7f293","name":"","source":{"id":"ef345c88-589c-3937-86fb-cc1373a47810","type":"PROCESSOR","groupId":"9219030c-e73b-3cd5-8d99-b831dcd774be","name":"RouteOnAttribute","comments":""},"destination":{"id":"6074eb94-c5ea-3110-bb7a-0f81ffe580e8","type":"OUTPUT_PORT","groupId":"9219030c-e73b-3cd5-8d99-b831dcd774be","name":"A"},"labelIndex":1,"zIndex":0,"selectedRelationships":["A"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9219030c-e73b-3cd5-8d99-b831dcd774be"},{"identifier":"93b38ccc-4941-35e3-9b29-8ce891061cf7","name":"","source":{"id":"ef345c88-589c-3937-86fb-cc1373a47810","type":"PROCESSOR","groupId":"9219030c-e73b-3cd5-8d99-b831dcd774be","name":"RouteOnAttribute","comments":""},"destination":{"id":"dfc9990d-b1b2-3196-b33b-987cca5df975","type":"OUTPUT_PORT","groupId":"9219030c-e73b-3cd5-8d99-b831dcd774be","name":"C","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["C"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9219030c-e73b-3cd5-8d99-b831dcd774be"},{"identifier":"c1385b08-e52d-322f-8130-8166229a2d30","name":"","source":{"id":"ef345c88-589c-3937-86fb-cc1373a47810","type":"PROCESSOR","groupId":"9219030c-e73b-3cd5-8d99-b831dcd774be","name":"RouteOnAttribute","comments":""},"destination":{"id":"c09078b2-06b1-3e56-8d19-3a8a98cbb035","type":"OUTPUT_PORT","groupId":"9219030c-e73b-3cd5-8d99-b831dcd774be","name":"Other","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9219030c-e73b-3cd5-8d99-b831dcd774be"},{"identifier":"846bcc98-eb7c-39c3-81bb-10769e7d7d94","name":"","source":{"id":"ef345c88-589c-3937-86fb-cc1373a47810","type":"PROCESSOR","groupId":"9219030c-e73b-3cd5-8d99-b831dcd774be","name":"RouteOnAttribute","comments":""},"destination":{"id":"04d462de-69ef-3104-be1c-50c5520e6040","type":"OUTPUT_PORT","groupId":"9219030c-e73b-3cd5-8d99-b831dcd774be","name":"B","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["B"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9219030c-e73b-3cd5-8d99-b831dcd774be"},{"identifier":"4149803e-2cc4-3b84-8053-1272871848ab","name":"","source":{"id":"3958dd52-d178-3702-b12f-017bfb82e274","type":"INPUT_PORT","groupId":"9219030c-e73b-3cd5-8d99-b831dcd774be","name":"In"},"destination":{"id":"ef345c88-589c-3937-86fb-cc1373a47810","type":"PROCESSOR","groupId":"9219030c-e73b-3cd5-8d99-b831dcd774be","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"9219030c-e73b-3cd5-8d99-b831dcd774be"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}