nifi-nar-bundles/nifi-stateless-processor-bundle/nifi-stateless-processor-tests/src/test/resources/route-to-failure-inner-group.json
{"flowContents":{"identifier":"eab15588-8b13-3f5b-bea0-980729c38bcb","name":"route-to-failure-inner-group","comments":"","position":{"x":-2573.4996342169,"y":562.3407266421189},"processGroups":[{"identifier":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b","name":"inner","comments":"","position":{"x":1040.9999831843675,"y":240.99999718920503},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f717a940-48fb-33a5-ad85-b459a60f27cc","name":"DuplicateFlowFile","comments":"","position":{"x":895.9999984431565,"y":-15.000002810794967},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0-SNAPSHOT"},"style":{},"type":"org.apache.nifi.processors.standard.DuplicateFlowFile","properties":{"Number of Copies":"99"},"propertyDescriptors":{"Number of Copies":{"name":"Number of Copies","displayName":"Number of Copies","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b"},{"identifier":"4303a1d4-ee4a-3ac6-9b60-9242e603f7bd","name":"RouteOnAttribute","comments":"","position":{"x":889.9999984431565,"y":448.99999718920503},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0-SNAPSHOT"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","number99":"${index:equals(\"99\")}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"number99":{"name":"number99","displayName":"number99","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b"},{"identifier":"6c368305-a993-3b1c-a8b8-4c24308f6d7a","name":"UpdateAttribute","comments":"","position":{"x":890.9999984431565,"y":207.99999718920503},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.15.0-SNAPSHOT"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","index":"${nextInt()}","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"index":{"name":"index","displayName":"index","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b"}],"inputPorts":[{"identifier":"c3cf4b36-93b6-38cb-a941-59b75af9d699","name":"In","position":{"x":952.0,"y":-144.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b"}],"outputPorts":[{"identifier":"758dc43a-644f-333e-b013-8f1403a2dfb2","name":"success","position":{"x":952.0,"y":688.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b"},{"identifier":"b07dd92f-5c98-3607-b56d-efad9c30bd85","name":"failure","position":{"x":1360.0,"y":688.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b"}],"connections":[{"identifier":"4e057aca-0a05-3e03-8e6c-1a863a1422ab","name":"","source":{"id":"4303a1d4-ee4a-3ac6-9b60-9242e603f7bd","type":"PROCESSOR","groupId":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b","name":"RouteOnAttribute","comments":""},"destination":{"id":"b07dd92f-5c98-3607-b56d-efad9c30bd85","type":"OUTPUT_PORT","groupId":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b","name":"failure"},"labelIndex":1,"zIndex":0,"selectedRelationships":["number99"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b"},{"identifier":"726ab84c-3d09-37f0-b281-e818a35c4e06","name":"","source":{"id":"c3cf4b36-93b6-38cb-a941-59b75af9d699","type":"INPUT_PORT","groupId":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b","name":"In"},"destination":{"id":"f717a940-48fb-33a5-ad85-b459a60f27cc","type":"PROCESSOR","groupId":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b","name":"DuplicateFlowFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b"},{"identifier":"023af105-7eda-34a4-98a6-830d6451766c","name":"","source":{"id":"f717a940-48fb-33a5-ad85-b459a60f27cc","type":"PROCESSOR","groupId":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b","name":"DuplicateFlowFile","comments":""},"destination":{"id":"6c368305-a993-3b1c-a8b8-4c24308f6d7a","type":"PROCESSOR","groupId":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b","name":"UpdateAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b"},{"identifier":"78bdfab2-7c07-3307-8f97-522299fd4a26","name":"","source":{"id":"4303a1d4-ee4a-3ac6-9b60-9242e603f7bd","type":"PROCESSOR","groupId":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b","name":"RouteOnAttribute","comments":""},"destination":{"id":"758dc43a-644f-333e-b013-8f1403a2dfb2","type":"OUTPUT_PORT","groupId":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b","name":"success"},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b"},{"identifier":"67e8ee4a-cd20-3ba6-a802-f1c062b3f4f8","name":"","source":{"id":"6c368305-a993-3b1c-a8b8-4c24308f6d7a","type":"PROCESSOR","groupId":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b","name":"UpdateAttribute","comments":""},"destination":{"id":"4303a1d4-ee4a-3ac6-9b60-9242e603f7bd","type":"PROCESSOR","groupId":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"BATCH_OUTPUT","componentType":"PROCESS_GROUP","groupIdentifier":"eab15588-8b13-3f5b-bea0-980729c38bcb"}],"remoteProcessGroups":[],"processors":[{"identifier":"7e502d9b-5fa3-356c-b470-ad353b28510d","name":"Throw Exception","comments":"","position":{"x":1064.0,"y":576.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.0-SNAPSHOT"},"style":{},"type":"org.apache.nifi.processors.standard.DebugFlow","properties":{"Write Iterations":"0","No FlowFile Skip Iterations":"1","No FlowFile Exception Iterations":"0","Fail When @OnUnscheduled called":"false","No FlowFile Yield Iterations":"0","FlowFile Failure Iterations":"0","CustomValidate Pause Time":"0 sec","@OnScheduled Pause Time":"0 sec","Fail When @OnStopped called":"false","FlowFile Rollback Penalty Iterations":"0","Content Size":"1 KB","FlowFile Rollback Yield Iterations":"0","FlowFile Rollback Iterations":"0","No FlowFile Exception Class":"java.lang.RuntimeException","Ignore Interrupts When Paused":"false","Fail When @OnScheduled called":"false","@OnUnscheduled Pause Time":"0 sec","FlowFile Exception Iterations":"1","FlowFile Success Iterations":"0","@OnStopped Pause Time":"0 sec","FlowFile Exception Class":"java.lang.RuntimeException","OnTrigger Pause Time":"0 sec"},"propertyDescriptors":{"Write Iterations":{"name":"Write Iterations","displayName":"Write Iterations","identifiesControllerService":false,"sensitive":false},"No FlowFile Skip Iterations":{"name":"No FlowFile Skip Iterations","displayName":"No FlowFile Skip Iterations","identifiesControllerService":false,"sensitive":false},"No FlowFile Exception Iterations":{"name":"No FlowFile Exception Iterations","displayName":"No FlowFile Exception Iterations","identifiesControllerService":false,"sensitive":false},"Fail When @OnUnscheduled called":{"name":"Fail When @OnUnscheduled called","displayName":"Fail When @OnUnscheduled called","identifiesControllerService":false,"sensitive":false},"No FlowFile Yield Iterations":{"name":"No FlowFile Yield Iterations","displayName":"No FlowFile Yield Iterations","identifiesControllerService":false,"sensitive":false},"FlowFile Failure Iterations":{"name":"FlowFile Failure Iterations","displayName":"FlowFile Failure Iterations","identifiesControllerService":false,"sensitive":false},"CustomValidate Pause Time":{"name":"CustomValidate Pause Time","displayName":"CustomValidate Pause Time","identifiesControllerService":false,"sensitive":false},"@OnScheduled Pause Time":{"name":"@OnScheduled Pause Time","displayName":"@OnScheduled Pause Time","identifiesControllerService":false,"sensitive":false},"Fail When @OnStopped called":{"name":"Fail When @OnStopped called","displayName":"Fail When @OnStopped called","identifiesControllerService":false,"sensitive":false},"FlowFile Rollback Penalty Iterations":{"name":"FlowFile Rollback Penalty Iterations","displayName":"FlowFile Rollback Penalty Iterations","identifiesControllerService":false,"sensitive":false},"Content Size":{"name":"Content Size","displayName":"Content Size","identifiesControllerService":false,"sensitive":false},"FlowFile Rollback Yield Iterations":{"name":"FlowFile Rollback Yield Iterations","displayName":"FlowFile Rollback Yield Iterations","identifiesControllerService":false,"sensitive":false},"FlowFile Rollback Iterations":{"name":"FlowFile Rollback Iterations","displayName":"FlowFile Rollback Iterations","identifiesControllerService":false,"sensitive":false},"No FlowFile Exception Class":{"name":"No FlowFile Exception Class","displayName":"No FlowFile Exception Class","identifiesControllerService":false,"sensitive":false},"Ignore Interrupts When Paused":{"name":"Ignore Interrupts When Paused","displayName":"Ignore Interrupts When Paused","identifiesControllerService":false,"sensitive":false},"Fail When @OnScheduled called":{"name":"Fail When @OnScheduled called","displayName":"Fail When @OnScheduled called","identifiesControllerService":false,"sensitive":false},"@OnUnscheduled Pause Time":{"name":"@OnUnscheduled Pause Time","displayName":"@OnUnscheduled Pause Time","identifiesControllerService":false,"sensitive":false},"FlowFile Exception Iterations":{"name":"FlowFile Exception Iterations","displayName":"FlowFile Exception Iterations","identifiesControllerService":false,"sensitive":false},"FlowFile Success Iterations":{"name":"FlowFile Success Iterations","displayName":"FlowFile Success Iterations","identifiesControllerService":false,"sensitive":false},"@OnStopped Pause Time":{"name":"@OnStopped Pause Time","displayName":"@OnStopped Pause Time","identifiesControllerService":false,"sensitive":false},"FlowFile Exception Class":{"name":"FlowFile Exception Class","displayName":"FlowFile Exception Class","identifiesControllerService":false,"sensitive":false},"OnTrigger Pause Time":{"name":"OnTrigger Pause Time","displayName":"OnTrigger Pause Time","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"eab15588-8b13-3f5b-bea0-980729c38bcb"}],"inputPorts":[{"identifier":"1a79b14c-f88d-3001-8198-2facb78ecf9a","name":"In","position":{"x":1112.0,"y":104.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"INPUT_PORT","groupIdentifier":"eab15588-8b13-3f5b-bea0-980729c38bcb"}],"outputPorts":[{"identifier":"9c30f62c-8b5b-37d4-ab58-671a9288b4b3","name":"failure","position":{"x":1536.0,"y":584.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"eab15588-8b13-3f5b-bea0-980729c38bcb"}],"connections":[{"identifier":"e20d6e32-6bce-3f1c-af84-6877a6542990","name":"","source":{"id":"b07dd92f-5c98-3607-b56d-efad9c30bd85","type":"OUTPUT_PORT","groupId":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b","name":"failure"},"destination":{"id":"9c30f62c-8b5b-37d4-ab58-671a9288b4b3","type":"OUTPUT_PORT","groupId":"eab15588-8b13-3f5b-bea0-980729c38bcb","name":"failure"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"eab15588-8b13-3f5b-bea0-980729c38bcb"},{"identifier":"57d4878b-2560-3aa2-a1cc-b0826e5a910c","name":"","source":{"id":"758dc43a-644f-333e-b013-8f1403a2dfb2","type":"OUTPUT_PORT","groupId":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b","name":"success"},"destination":{"id":"7e502d9b-5fa3-356c-b470-ad353b28510d","type":"PROCESSOR","groupId":"eab15588-8b13-3f5b-bea0-980729c38bcb","name":"Throw Exception","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"eab15588-8b13-3f5b-bea0-980729c38bcb"},{"identifier":"0b54b543-239a-31ea-86ad-b805e1ce7d9b","name":"","source":{"id":"1a79b14c-f88d-3001-8198-2facb78ecf9a","type":"INPUT_PORT","groupId":"eab15588-8b13-3f5b-bea0-980729c38bcb","name":"In"},"destination":{"id":"c3cf4b36-93b6-38cb-a941-59b75af9d699","type":"INPUT_PORT","groupId":"e6cc89ab-a1d3-3c0d-9219-4f05038a7b8b","name":"In"},"labelIndex":1,"zIndex":0,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"eab15588-8b13-3f5b-bea0-980729c38bcb"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}